meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
title Sociomics | Верстка

link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap')
link(rel='stylesheet', href='http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css')
link(rel='stylesheet', href='css/app.css')

script(src='https://code.jquery.com/jquery-3.5.1.min.js')
script(src='http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
script(src='js/app.js')