header.header.js-header
    div.container
        div.header-inner
            a.header-burger.js-header-burger(href='javascript:void(0);')
                img(src='img/layout/burger.svg')
            a.header-logo(href='index.html')
                img(src='img/layout/logo.svg')
                span Sociomics
            form.header-search.js-header-search-form(action='library.html')
                a.header-search-back.js-header-search-back(href='javascript:void(0);')
                    img(src='img/layout/arrow-left.svg')
                label.js-header-search-btn(for='header-search-input')
                    img(src='img/layout/search.svg')
                input(type='text', id='header-search-input', placeholder='Введите поисковой запрос')
            div.header-right
                a(href='library.html')
                    img(src='img/layout/fire.svg')
                    span В тренде
                a(class="modal-link" href='#login')
                    img(src='img/layout/user.svg')
                    span Войти