div.left-menu.js-left-menu
    ul.left-menu-main
        li
            a(href='index.html')
                img(src='img/layout/home.svg')
                span Главная
        li
            a(href='library.html')
                img(src='img/layout/library.svg')
                span Библиотека
        li
            a(href='favorites.html')
                img(src='img/layout/favorite.svg')
                span Избранное
        li
            a(href='favorites.html')
                img(src='img/layout/history.svg')
                span История
        li
            a(href='comments.html')
                img(src='img/layout/comments.svg')
                span Комментарии
        li
            a(href='my-releases.html')
                span Мои выпуски
        li
            a(href='favorites.html')
                span Мои социомиксы
        li.desktop-hidden
            a(href='trends.html')
                img(src='img/layout/fire.svg')
                span В тренде
    div.left-menu-bottom
        ul.left-menu-additional
            li
                a(href='text-page.html') Условия пользования
            li
                a(href='text-page.html') Авторские права
            li
                a(href='text-page.html') О проекте
            li
                a(href='text-page.html') Поддержать проект
            li
                a(href='text-page.html') Стать автором
        div.left-menu-copying
            img(src='img/layout/lock.svg')
            p Полное или частичное копирование материалов должно быть согласовано с редакцией сайта
        ul.left-menu-langs
            li.active
                a(href='javascript:void(0);') Ru
            li
                a(href='javascript:void(0);') En
        div.left-menu-feedback
            a(class="modal-link" href='#feedback') Написать нам
        p.left-menu-rights 2020 Все права защищены

