div.sociomics-modal.mfp-hide#feedback
    div.sociomics-modal__form
        div.sociomics-modal__form-header
            h2 Написать нам
            a.popup-modal-dismiss(href='')
                img(src="/resources/img/layout/close.svg")
        form.sociomics-form(action='#')
            div.sociomics-form-row
                div.sociomics-form-group
                    label Имя
                    input(type='text', placeholder='Введите Ваше имя')
            div.sociomics-form-row
                div.sociomics-form-group
                    label E-mail
                    input(type='email', placeholder='Введите e-mail для обратной связи')
            div.sociomics-form-row
                div.sociomics-form-group
                    label Сообщение
                    textarea(rows='6', placeholder='Введите сообщение')
            div.sociomics-form-footer
                button(type='submit') Отправить

div.sociomics-modal.mfp-hide#login
    div.sociomics-modal__form
        div.sociomics-modal__form-header
            h2 Войти
            a.popup-modal-dismiss(href='')
                img(src="/resources/img/layout/close.svg")
        form.sociomics-form(action='#')
            div.sociomics-form-row
                div.sociomics-form-group
                    label E-mail
                    input(type='email', placeholder='Введите e-mail')
            div.sociomics-form-row
                div.sociomics-form-group
                    label Пароль
                    input(type='password', placeholder='Введите пароль')
            div.sociomics-form-password-links
                a(class="modal-link" href='#registration') Регистрация
                a(class="modal-link" href='#forgot-password') Забыли пароль?
            div.sociomics-form-footer
                button(type='submit') Войти

div.sociomics-modal.mfp-hide#registration
    div.sociomics-modal__form
        div.sociomics-modal__form-header
            h2 Регистрация
            a.popup-modal-dismiss(href='')
                img(src="/resources/img/layout/close.svg")
        form.sociomics-form(action='#')
            div.sociomics-form-row
                div.sociomics-form-group
                    label E-mail
                    input(type='email', placeholder='Введите e-mail')
            div.sociomics-form-row
                div.sociomics-form-group
                    label Пароль
                    input(type='password', placeholder='Введите пароль')
            div.sociomics-form-row
                div.sociomics-form-group
                    label Пароль еще раз
                    input(type='password', placeholder='Введите пароль еще раз')
            p.sociomics-form-info-text Регистрируясь, я подтверждаю, что ознакомился и согласен с <a href="text-page.html">пользовательским соглашением</a>
            div.sociomics-form-footer
                button(type='submit') Зарегистрироваться

div.sociomics-modal.mfp-hide#forgot-password
    div.sociomics-modal__form
        div.sociomics-modal__form-header
            h2 Восстановление пароля
            a.popup-modal-dismiss(href='')
                img(src="/resources/img/layout/close.svg")
        form.sociomics-form(action='#')
            div.sociomics-form-row
                div.sociomics-form-group
                    label E-mail
                    input(type='email', placeholder='Введите e-mail')
            p.sociomics-form-info-text На указанный e-mail будет отправлено письмо с ссылкой для восстановления пароля
            div.sociomics-form-footer
                button(type='submit') Восстановить