doctype html
html(lang='en')
    head
        include _head
    body
        include _header
        div.container
            div.content.js-content#content
                include _left-menu
                div.content-right
                    div.left-menu-bg.js-left-menu-bg
                    block inner
            a.scroll-to-top.js-scroll-to-top.js-animate-scroll(href='#content')
                img(src='img/layout/arrow-top.svg')
        include _modals