.sociomics-comments-item {
  margin-bottom: 60px;

  @media (max-width: 767px) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__comments {
    width: 100%;
    margin: 0 auto;

    @media (max-width: 767px) {
      margin: 0 auto;
      background: #ffffff;
    }

    &__menu {
      margin-top: -30px;

      @media (max-width: 767px) {
        margin-top: 0;
        padding: 20px;
        background: #ffffff;
        border-bottom: 1px solid #C4C4C4;
      }

      select {
        font-family: Montserrat;
        border: none;
        font-size: 13px;
        line-height: 16px;
        color: #927575;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      option {
        border: none;
        font-size: 13px;
        line-height: 16px;
        color: #927575;
      }

      &-previous {
        font-size: 13px;
        line-height: 16px;
        color: #927575;
        margin: 8px 5px 8px 2px;
        text-decoration: none;
      }
    }

    &-item {
      display: flex;
      align-items: flex-start;
      padding: 15px 0;
      border-top: 1px solid #C4C4C4;

      @media (max-width: 767px) {
        width: calc(100% - 40px);
        padding: 15px 20px;
      }

      &:first-child {
        border-top: 0;
      }

      &--answer {
        padding-left: 50px;
        width: calc(100% - 50px);
      }

      &-avatar {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
      }

      &__content {
        width: 100%;

        &-name {
          color: #927575;
          margin-bottom: 5px;
          font-size: 15px;
        }

        &-text {
          color: #5E5C5C;
          font-size: 15px;
          line-height: 18px;
          margin-bottom: 5px;
        }

        &__bottom {
          display: flex;
          align-items: center;
          color: #927575;
          font-size: 11px;

          & > * {
            margin-right: 10px;
          }

          &-answer {
            color: #927575;
            text-decoration: none;
          }

          &-likes {
            display: flex;
            margin-left: auto;

            a {
              display: flex;
              align-items: center;
              text-decoration: none;
              margin-left: 10px;

              &:first-child {
                margin-left: 0;
              }

              img {
                margin-right: 8px;
              }

              span {
                color: #927575;
                font-size: 15px;
              }
            }
          }
        }
      }
    }

    form {
      width: 100%;

      @media (max-width: 767px) {
        width: calc(100% - 40px);
        padding: 0 20px;
      }
    }
  }
}

.comment-form-message {
  margin-bottom: 10px;
  margin-left: 50px;
  color: #5E5C5C;
  visibility: hidden;

  @media (max-width: 767px) {
    margin-left: 0;
  }
}