.favorites {
  margin: 30px 0;

  @media (max-width: 767px) {
    margin: 15px 0 0 0;
    padding-right: 0;
  }

  h1 {
    color: #4F4C4C;
    font-weight: 800;
    font-size: 25px;
    margin: 0;

    @media (max-width: 767px) {
      margin: 0;
      padding-left: 0;
      font-size: 24px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px 30px;

    @media (max-width: 767px) {
      width: calc(100% - 40px);
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 20px 15px;
    }

    &-buttons {
      display: flex;
      align-items: center;
      font-size: 20px;
      color: #4F4C4C;

      @media (max-width: 767px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
      }

      a {
        @include default-transition();
        font-family: 'Montserrat', sans-serif;
        background: #4F4C4C;
        border: none;
        padding: 10px 20px;
        color: #ffffff;
        outline: none;
        cursor: pointer;
        text-decoration: none;

        @media (max-width: 767px) {
          font-size: 11px;
        }

        &:hover {
          color: #fff;
          background: #927575;
        }
      }
    }
  }

  &-inner {
    padding: 40px;
    background: #ffffff;

    @media (max-width: 767px) {
      padding: 0;
      background: #f6eeee;
    }

    &-empty {
      width: 1030px;

      @media (max-width: 767px) {
        width: calc(100% - 40px);
        padding: 0 20px;
      }
    }

    table {
      width: 1030px;
      color: #4F4C4C;

      th {
        text-align: left;
        padding: 10px;
      }

      td {
        padding: 10px;

        a {
          text-decoration: none;
          color: #4F4C4C;
        }
      }
    }
  }
}

.sociomics-wide {
  display: flex;
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid #C4C4C4;
  width: 1030px;

  @media (max-width: 767px) {
    width: calc(100% - 40px);
    flex-wrap: wrap;
    margin-bottom: 0;
    background: #ffffff;
    padding: 20px;
    position: relative;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;

    @media (max-width: 767px) {
      padding-bottom: 20px;
    }
  }

  &__left {
    width: 440px;
    margin-right: 40px;

    @media (max-width: 767px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }

    &-img {
      width: 100%;
      margin-bottom: 15px;
      object-fit: cover;

      @media (max-width: 767px) {
        margin-top: 30px;
        margin-bottom: 10px;
        height: 215px;
      }
    }

    &-bottom {
      display: flex;
      align-items: center;
    }

    &-views {
      color: #927575;
      font-size: 15px;
    }

    &-likes {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    &-like {
      color: #927575;
      margin-left: 15px;
      display: flex;
      align-items: center;

      &:first-child {
        margin-left: 0;
      }

      img {
        margin-right: 10px;
      }
    }
  }

  &__right {
    width: calc(100% - 480px);
    position: relative;

    @media (max-width: 767px) {
      width: 100%;
      position: unset;
    }

    &__editing {
      position: absolute;
      top: 0;
      right: 0;

      @media (max-width: 767px) {
        top: 10px;
        right: 20px;
      }

      &-menu-button {
        padding: 0;
        border: none;
        outline: none;
        cursor: pointer;
        background: transparent;

        img {
          width: 30px;
          background: #ffffff;
        }
      }

      &__dropdown-content {
        position: absolute;
        right: 0;
        background: #ffffff;
        min-width: 210px;
        display: none;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

        &-list {
          list-style: none;
          padding: 0;
          margin: 0;
        }

        &-item {
          border-bottom: 1px solid #eaeaea;

          &:last-child {
            border-bottom: none;
          }

          a {
            @include default-transition();
            text-decoration: none;
            display: block;
            padding: 15px 20px;
            color: #4f4c4c;

            &:hover {
              color: #ffffff;
              background: #927575;
            }
          }
        }
      }
    }

    &__header {
      width: 360px;

      @media (max-width: 767px) {
        width: 100%;
      }

      &-remove {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        color: #927575;
        font-size: 15px;
        text-decoration: none;

        @media (max-width: 767px) {
          top: -297px;
        }

        img {
          margin-right: 10px;
        }
      }

      h3 {
        color: #4F4C4C;
        font-size: 24px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 15px;

        @media (max-width: 767px) {
          font-weight: 400;
          font-size: 20px;
        }

        a {
          color: #4F4C4C;
          text-decoration: none;
        }
      }

      &-published {
        font-size: 11px;
        color: #927575;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #C4C4C4;
      }

      &-authors {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        @media (max-width: 767px) {
          justify-content: space-between;
          padding-bottom: 25px;
          border-bottom: 1px solid #C4C4C4;
        }
      }

      &__author {

        @media (max-width: 767px) {
          width: 140px;
        }

        &:first-child {
          margin-right: 40px;

          @media (max-width: 767px) {
            margin-right: 0;
          }
        }

        &-sign {
          font-size: 11px;
          color: #927575;
          margin-bottom: 5px;
        }

        &-inner {
          display: flex;
          align-items: center;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 10px;
        }

        &-name {
          width: 100px;
          font-size: 15px;
          color: #5E5C5C;

          @media (max-width: 767px) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    &__desc {

      &-header {
        color: #4F4C4C;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
      }

      &-text {
        font-size: 15px;
        line-height: 25px;
        color: #4F4C4C;
        margin: 0;
        padding: 0;
      }
    }
  }
}