.homepage {
  display: flex;

  h1 {
    display: none;
  }

  &__release-list {
    width: 780px;
    margin-top: 30px;
    margin-right: 20px;

    @media (max-width: 1280px) {
      width: 910px;
    }

    @media (max-width: 767px) {
      width: 100%;
      margin-top: 15px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__release-item {
    margin-bottom: 30px;

    @media (max-width: 767px) {
      margin-bottom: 15px;
    }

    &:last-child {

      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }

    h2 {
      font-weight: 800;
      font-size: 25px;
      color: #4F4C4C;
      margin: 0 0 30px 20px;

      @media (max-width: 767px) {
        margin: 0 20px 15px;
        font-size: 24px;
      }
    }

    &__sociomics-list {
      display: flex;
      flex-wrap: wrap;
      padding: 20px 10px 0;
      background: #ffffff;

      @media (max-width: 767px) {
        padding: 20px 20px 0 20px;
      }
    }


    &__sociomics-item {
      width: calc(100% / 3 - 20px);
      margin: 0 10px 20px;

      @media (max-width: 767px) {
        width: 100%;
        padding: 0;
        margin: 0 0 20px;
      }

      &-card {

        img {
          width: 100%;

          @media (max-width: 767px) {
            height: auto;
          }
        }
      }

      &-description {
        display: flex;
        margin-top: 10px;

        &-left {
          margin-right: 10px;
        }

        &-right {
          width: calc(100% - 40px);
        }
      }

      &-avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      &-title {
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        color: #4F4C4C;
        margin-bottom: 5px;

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }

      &-author {
        font-size: 15px;
        margin-bottom: 5px;
        color: #4F4C4C;

        @media (max-width: 767px) {
          font-size: 14px;
        }
      }

      &__views-block {
        display: flex;
        align-items: center;
        font-size: 11px;
        color: #927575;

        @media (max-width: 767px) {
          font-size: 12px;
        }
      }

      &-point {
        display: inline-block;
        width: 3px;
        height: 3px;
        background: #927575;
        border-radius: 50%;
        margin: 1px 5px 0;
      }
    }
  }

  &-library {
    width: 270px;
    background: #ffffff;
    padding: 30px 20px 20px;

    @media (max-width: 1280px) {
      width: 270px;
    }

    @media (max-width: 767px) {
      display: none;
    }

    &-inner {
      //position: sticky;
      //top: 101px;
    }

    h3 {
      font-weight: 800;
      font-size: 25px;
      color: #4F4C4C;
      margin-top: 0;
      margin-bottom: 30px;
    }

    &-sociomics-list {
      margin-bottom: 30px;
    }

    &__sociomics-item {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      &-img {
        display: block;
        margin-bottom: 10px;

        img {
          width: 100%;
        }
      }

      &__description {
        display: flex;

        &-left {
          margin-right: 10px;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        &-title {
          display: inline-block;
          text-decoration: none;
          font-size: 16px;
          color: #4F4C4C;
          margin-bottom: 5px;
        }

        &-author {
          font-size: 15px;
          margin-bottom: 5px;
          color: #4F4C4C;
        }

        &-views-block {
          display: flex;
          align-items: center;
          font-size: 11px;
          color: #927575;
        }

        &-point {
          display: inline-block;
          width: 3px;
          height: 3px;
          background: #927575;
          border-radius: 50%;
          margin: 1px 5px 0;
        }
      }
    }
  }
}
