body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: #f6eeee;

  &.body-fixed {
    position: fixed;
    top: 0;
  }

  &.body--brown {
    background: #F7EEEE;
  }
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: #f6eeee;

  font-display: swap;
}

.button {
  display: inline-block;
  color: #4F4C4C;
  padding: 12px 15px;
  border: 1px solid #4F4C4C;
  text-decoration: none;
}

.no-cursor {
  cursor: default !important;
}

.is-favorite {
  filter: invert(21%) sepia(61%) saturate(4113%) hue-rotate(351deg) brightness(86%) contrast(81%);
}

.is-like {
  filter: invert(21%) sepia(61%) saturate(4113%) hue-rotate(351deg) brightness(86%) contrast(81%);
}

.container {
  width: 1400px;
  margin: 0 auto;
  @media (max-width: 1280px) {
    width: 1240px;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  background: #F7EEEE;
  position: relative;
  top: 71px;
  min-height: 100vh;
  @media (max-width: 767px) {
    top: 67px;
  }

  &-right {
    position: relative;
    margin-left: 290px;
    @media (max-width: 1280px) {
      width: 100%;
      margin-left: 0;
    }
    @media (max-width: 767px) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #4F4C4C;
  background: #ffffff;
  padding: 0;
  @media (max-width: 767px) {
    width: 100%;
    padding: 0;
  }

  &-inner {
    display: flex;
    align-items: center;
    padding: 15px 0;
    background: #ffffff;
    @media (max-width: 767px) {
      position: relative;
      padding: 15px;
    }
  }

  &-burger {
    display: none;
    margin-right: 30px;
    @media (max-width: 1280px) {
      display: block;
    }
    @media (max-width: 767px) {
      display: block;
      margin-right: 15px;
    }
  }

  &-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;

    img {
      width: 40px;
      margin-right: 10px;
      @media (max-width: 767px) {
        width: 36px;
      }
    }

    span {
      text-transform: uppercase;
      font-size: 20px;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
  }

  &-search {
    display: flex;
    align-items: center;
    margin-left: 100px;
    @media (max-width: 1280px) {
      margin-left: 60px;
    }
    @media (max-width: 767px) {
      margin-left: auto;
    }

    label {
      cursor: pointer;
      width: 18px;
      height: 18px;
    }

    input {
      width: 320px;
      font-family: 'Montserrat', sans-serif;
      color: #4F4C4C;
      font-size: 20px;
      border: none;
      padding: 0;
      margin-left: 15px;
      @media (max-width: 767px) {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        height: 64px;
        margin-left: 45px;
        font-size: 18px;
      }

      &:focus {
        outline: none;
        border: 0;
      }
    }

    &-back {
      display: none;
      @media (max-width: 767px) {
        position: absolute;
        left: 15px;
      }

      img {
        width: 21px;
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    @media (max-width: 767px) {
      margin-left: 0;
    }

    a {
      display: flex;
      align-items: center;
      color: #4F4C4C;
      font-size: 20px;
      text-decoration: none;
      margin-left: 70px;
      @media (max-width: 767px) {
        margin-left: 15px;
      }

      &:first-child {
        margin-left: 0;
        @media (max-width: 767px) {
          display: none;
        }
      }

      img {
        margin-right: 10px;
        @media (max-width: 767px) {
          margin-right: 0;
        }
      }

      span {
        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    &-logout {
      margin-left: 10px;

      img {
        width: 24px;
      }
    }
  }

  &--searchable {
    @media (max-width: 767px) {
      height: 66px;

      .header {
        &-inner {
          padding: 33px 15px;
        }

        &-burger {
          display: none;
        }

        &-logo {
          display: none;
        }

        &-right {
          display: none;
        }

        &-search {
          margin-left: 0;

          label {
            position: absolute;
            right: 15px;
          }

          input {
            display: block;
            width: calc(100% - 95px);
          }

          &-back {
            display: block;
            height: 15px;
          }
        }
      }
    }
  }
}

.left-menu {
  height: 100%;
  width: 270px;
  padding-top: 30px;
  background: #ffffff;
  position: fixed;
  z-index: 2;
  @media (max-width: 1280px) {
    display: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  @media (max-width: 767px) {
    display: none;
    padding-top: 0;
    width: calc(100% - 100px);
  }
  @media (max-width: 767px) and (max-height: 440px) {
    width: 100%;
  }

  &-bg {
    display: none;
    position: fixed;
    top: 71px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    @media (max-width: 767px) {
      top: 67px;
    }
  }

  &-logo {
    display: none;
    @media (max-width: 767px) {
      display: flex;
      align-items: center;
      font-size: 20px;
      text-transform: uppercase;
      color: #000000;
      text-decoration: none;
    }

    img {
      width: 36px;
      margin-right: 10px;
    }
  }

  &-close {
    display: none;
    @media (max-width: 767px) {
      display: block;
      position: absolute;
      right: 30px;
      top: 36px;
    }

    img {
      @media (max-width: 767px) {
        width: 17px;
      }
    }
  }

  &-main {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
    @media (max-width: 767px) {
      margin: 20px 0;
    }
    @media (max-height: 640px) {
      margin: 10px 0;
    }
    @media (max-width: 767px) and (max-height: 440px) {
      margin: 20px 0;
      width: calc(50% - 10px);
      float: left;
    }

    li {
      margin-bottom: 15px;
      @media (max-width: 767px) {
        margin-bottom: 12px;
      }
      @media (max-height: 640px) {
        margin-bottom: 6px;
      }

      &.desktop-hidden {
        display: none;
        @media (max-width: 767px) {
          display: block;
        }
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
        color: #000000;
        @media (max-width: 767px) {
          font-size: 19px;
        }
        @media (max-height: 640px) {
          font-size: 15px;
        }

        img {
          margin-right: 10px;
          @media (max-height: 640px) {
            width: 12px;
          }
        }
      }
    }
  }

  &-bottom {
    width: 270px;
    position: fixed;
    bottom: 0;
    @media (max-width: 767px) {
      width: calc(100% - 100px);
    }
    @media (max-width: 767px) and (max-height: 440px) {
      margin: 20px 0;
      width: calc(50% - 10px);
      float: left;
      position: unset;
    }
  }

  &-additional {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
    @media (max-width: 767px) {
      padding-left: 20px;
    }

    li {
      margin-bottom: 10px;
      @media (max-width: 767px) {
        margin-bottom: 5px;
      }
      @media (max-height: 640px) {
        margin-bottom: 2px;
      }

      &:last-child {
        margin-bottom: 20px;
        @media (max-height: 640px) {
          margin-bottom: 5px;
        }
      }

      a {
        text-decoration: none;
        font-size: 15px;
        color: #4F4C4C;
        @media (max-width: 767px) {
          font-size: 14px;
        }
        @media (max-height: 640px) {
          font-size: 13px;
        }
      }
    }
  }

  &-copying {
    display: flex;
    align-items: flex-start;
    font-size: 10px;
    line-height: 12px;
    color: #4F4C4C;
    margin-bottom: 20px;
    padding-right: 8px;
    padding-left: 20px;

    @media (max-width: 767px) {
      padding-right: 0;
      margin-bottom: 15px;
    }

    @media (max-height: 640px) {
      margin-bottom: 5px;
    }

    img {
      margin-right: 3px;
    }

    p {
      margin: 0;
    }
  }

  &-social {
    padding-left: 20px;
    margin-bottom: 15px;

    @media (max-width: 767px) {
      margin-top: 10px;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;

      li {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        a {
          @include default-transition();
          color: #4F4C4C;

          &:hover {
            text-decoration: none;
            color: #917475;
          }

          i {
            font-size: 24px;
          }
        }
      }
    }
  }

  &-langs {
    border-top: 1px solid #ABABAB;
    border-bottom: 1px solid #ABABAB;
    padding: 10px 0 10px 20px;
    list-style: none;
    margin: 0;
    @media (max-width: 767px) {
      padding: 2px 0 2px 20px;
    }
    @media (max-height: 640px) {
      padding: 0 0 0 20px;
    }
    @media (max-width: 767px) and (max-height: 440px) {
      border: none;
    }

    li {
      display: inline-block;

      &:first-child {
        padding-left: 0;
      }

      a {
        display: block;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        color: #4F4C4C;
        padding: 6px 9px;
        @media (max-width: 767px) {
          font-size: 14px;
          font-weight: 400;
          padding: 5px 7px;
        }
      }

      &.active {
        a {
          cursor: default;
          background: #927575;
          color: #ffffff;
        }
      }
    }
  }

  &-feedback {
    padding: 15px 0 15px 20px;
    border-bottom: 1px solid #ABABAB;
    @media (max-width: 767px) {
      padding: 6px 0 6px 20px;
    }
    @media (max-height: 640px) {
      padding: 3px 0 3px 20px;
    }
    @media (max-width: 767px) and (max-height: 440px) {
      border-bottom: 0;
    }

    a {
      text-decoration: none;
      font-size: 15px;
      font-weight: 600;
      color: #4F4C4C;
      @media (max-width: 767px) {
        font-size: 14px;
        font-weight: 400;
      }
      @media (max-height: 640px) {
        padding: 5px 0;
      }
    }
  }

  &-rights {
    color: #000000;
    font-size: 10px;
    margin: 0;
    padding: 15px 0 15px 20px;
    @media (max-width: 767px) {
      padding: 10px 0 10px 20px;
    }
  }
}

.right-content-fixed {
  position: fixed;
  margin-left: 800px;
  @media (max-width: 1280px) {
    margin-left: 930px;
  }

  &--h100 {
    height: 100%;
  }

  &--b0 {
    bottom: 0;
  }

  &--t0 {
    top: 0;
  }
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 30px;
  @media (max-width: 767px) {
    display: none !important;
  }

  img {
    border-radius: 50%;
    border: 1px solid #4e4b4c;
    width: 26px;
    padding: 6px;
    transform: rotate(90deg);
  }
}

.js-cookie-modal {
  width: 270px;
  background-color: #ffffff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  text-align: center;
  padding: 10px;
  border: 2px solid #fafafa;
  display: none;
  @media (max-width: 768px) {
    width: calc(100%);
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    border-top: 2px solid #fafafa;
    padding: 15px 0;
  }

  p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5px;
  }

  a {
    font-size: 12px;
    color: #927575;

    &:hover {
      text-decoration: none;
    }
  }
}

.breadcrumb {
  display: none;
}