.library {
  margin: 30px 0;

  @media (max-width: 767px) {
    width: 100%;
    margin: 15px 0 0;
    padding: 0;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 30px;

    @media (max-width: 767px) {
      width: calc(100% - 40px);
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 20px 15px;
    }


    h1 {
      color: #4F4C4C;
      font-weight: 800;
      font-size: 25px;
      margin: 0;

      @media (max-width: 767px) {
        margin: 0 0 15px;
        padding-left: 0;
        font-size: 24px;
      }
    }

    &-list {
      display: flex;
      align-items: center;
      font-size: 20px;
      color: #4F4C4C;

      @media (max-width: 767px) {
        display: flex;
        width: 100%;
        font-size: 11px;
      }
    }

    &-item {
      font-size: 20px;
      color: #4F4C4C;
      margin: 0 15px;
      padding: 5px 10px;

      @media (max-width: 767px) {
        font-size: 11px;
        margin: 0 5px;
        padding: 5px;
      }

      &:last-child {
        margin-right: 0;
      }

      &--active {
        background: #927575;
        color: #FFFFFF;
      }
    }

    span {
      margin-right: 30px;
      font-size: 20px;

      @media (max-width: 767px) {
        margin: 0;
        padding-right: 10px;
        font-size: 12px;
      }

    }

    a {
      text-decoration: none;
    }
  }

  &__sociomics-list {
    width: 1030px;
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    padding: 20px 10px 0 10px;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      margin-bottom: 0;
      width: calc(100% - 20px);
    }

    &-empty {
      width: 1030px;
      padding: 0 0 20px 10px;

      @media (max-width: 767px) {
        width: calc(100% - 40px);
        padding: 0 0 20px 20px;
      }
    }
  }

  &__sociomics-item {
    width: calc(100% / 4 - 20px);
    margin: 0 10px 20px;

    @media (max-width: 767px) {
      width: 100%;
      padding: 0;
    }

    &-card {
      display: block;
      cursor: pointer;
      text-decoration: underline;
      margin-bottom: 10px;

      img {
        width: 100%;
      }
    }

    &-description {
      display: flex;
      width: 100%;

      @media (max-width: 767px) {
        width: 100%;
      }

      &-left {
        margin-right: 10px;
      }

      &-right {
        width: calc(100% - 60px);
      }
    }

    &__views-block {
      display: flex;
      align-items: center;
    }

    &-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }

    &-title {
      display: inline-block;
      text-decoration: none;
      font-size: 15px;
      color: #4F4C4C;
      margin-bottom: 5px;

      @media (max-width: 767px) {
        font-size: 19px;
      }
    }

    &-author {
      font-size: 13px;
      margin-bottom: 5px;
      color: #4F4C4C;

      @media (max-width: 767px) {
        font-size: 14px;
      }
    }

    &__views-block {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 11px;
      color: #927575;

      @media (max-width: 767px) {
        font-size: 12px;
      }
    }

    &-point {
      display: inline-block;
      width: 3px;
      height: 3px;
      background: #927575;
      border-radius: 50%;
      margin: 0 5px;

      @media (max-width: 767px) {
        margin: 1px 5px 0;
      }
    }
  }
}

