.sociomics-modal {

  &__form {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 40px;
    width: 480px;

    @media (max-width: 767px) {
      width: calc(100% - 40px);
      padding: 20px;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      h2 {
        color: #4F4C4C;
        font-weight: 800;
        font-size: 25px;
        margin: 0;

        @media (max-width: 767px) {
          font-size: 24px;
        }
      }

      a {
        font-weight: 800;
        font-size: 25px;
        text-decoration: none;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }

    &--wide {
      width: 780px;

      @media (max-width: 767px) {
        width: calc(100% - 40px);
      }
    }
  }
}
