.my-releases {
  margin: 30px 0;

  @media (max-width: 767px) {
    margin-bottom: 0;
  }

  &-empty {
    width: 1030px;

    @media (max-width: 767px) {
      width: calc(100% - 40px);
      padding: 0 20px;
    }
  }
}

.release {

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }

    h2 {
      color: #4F4C4C;
      margin-top: 0;

      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 20px;
      margin-bottom: 30px;

      @media (max-width: 767px) {
        width: calc(100% - 40px);
        margin: 0 20px 20px;
      }

      a {
        @include default-transition();
        font-family: 'Montserrat', sans-serif;
        background: #4F4C4C;
        border: none;
        padding: 10px 20px;
        color: #ffffff;
        outline: none;
        cursor: pointer;
        text-decoration: none;

        @media (max-width: 767px) {
          font-size: 11px;
        }

        &:hover {
          color: #fff;
          background: #927575;
        }
      }
    }
  }

  &__editing {
    position: relative;
    outline: none !important;
    box-sizing: inherit;
    background: #F7EEEE;

    &-menu-button {
      padding: 0;
      border: none;
      outline: none;
      cursor: pointer;

      img {
        width: 30px;
        background: #F7EEEE;

      }
    }

    &__dropdown-content {
      position: absolute;
      right: 0;
      background: #FFFFFF;
      min-width: 202px;
      display: none;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

      &-list {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      &-item {
        border-bottom: 1px solid #EAEAEA;

        &:last-child {
          border-bottom: none;
        }

        a {
          @include default-transition();
          text-decoration: none;
          display: block;

          &:hover {
            color: #fff;
            background: #927575;
          }
        }
      }

      &-title {
        display: block;
        padding: 15px 20px;
        color: #4F4C4C;
      }
    }
  }
}