.sociomics-create {
  margin: 30px 0;

  @media (max-width: 767px) {
    width: 100%;
    margin: 20px 0 0;
  }

  h2 {
    color: #4F4C4C;
    font-weight: 800;
    font-size: 25px;
    margin: 0 0 20px 20px;

    @media (max-width: 767px) {
      font-size: 24px;
      margin: 20px;
    }
  }
}

.sociomics-form {
  color: #4F4C4C;
  font-size: 18px;

  &--create {
    width: 720px;
    background: #ffffff;
    padding: 30px;

    @media (max-width: 767px) {
      width: calc(100% - 42px);
      padding: 20px;
    }
  }

  &-row {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &-col {
    width: calc(50% - 10px);

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &-group {
    width: 100%;
    margin-bottom: 20px;

    label {
      display: inline-block;
      margin-bottom: 10px;
    }

    input[type='text'], input[type='url'], input[type='email'], input[type='password'] {
      @include default-transition();
      width: calc(100% - 42px);
      padding: 20px;
      font-family: Montserrat;
      font-size: 18px;
      border: 1px solid #4F4C4C;
      border-radius: 0;

      &:focus {
        outline: none;
        border-radius: 0;
        border-color: #927575;
      }

      @media (max-width: 767px) {
      }
    }

    input[type='file'] {
      width: calc(100% - 42px);
      font-family: Montserrat;
      font-size: 18px;
      border-radius: 0;
      border: none;
      padding: 0;

      @media (max-width: 767px) {
      }
    }

    textarea {
      width: calc(100% - 42px);
      resize: none;
      padding: 20px;
      font-family: Montserrat;
      font-size: 18px;
      border: 1px solid #4F4C4C;
      border-radius: 0;

      &:focus {
        outline: none;
        border-radius: 0;
        border-color: #927575;
      }
    }

    select {
      width: 100%;
      padding: 20px;
      font-family: Montserrat;
      font-size: 18px;
      border: 1px solid #4F4C4C;
      border-radius: 0;

      &:focus {
        outline: none;
        border-radius: 0;
        border-color: #927575;
      }
    }

    &--checkbox {
      margin-bottom: 10px;

      label {
        margin-bottom: 0;
      }
    }

    &--img {
      display: flex;
      align-items: center;
      border: 2px dashed #999;
      padding: 10px;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }

  &-password-links {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      @include default-transition();
      color: #4F4C4C;
      text-decoration: none;

      &:hover {
        color: #927575;
      }
    }
  }

  &-info-text {
    margin: 0 0 20px;

    a {
      @include default-transition();
      color: #4F4C4C;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  button {
    @include default-transition();
    font-family: 'Montserrat', sans-serif;
    background: #4F4C4C;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    outline: none;
    cursor: pointer;

    &:hover {
      color: #fff;
      background: #927575;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}


