.sociomics-detail {
  display: flex;
  justify-content: space-between;

  &--create {
    margin-bottom: 180px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }

    .sociomics-detail-inner {
      padding-bottom: 60px;

      h2 {
        margin-left: 0;
      }
    }
  }

  &-inner {
    width: 700px;
    background: #ffffff;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 20px;

    @media (max-width: 1280px) {
      width: 830px;
    }

    @media (max-width: 767px) {
      width: calc(100% - 40px);
      padding: 20px;
      margin-right: 0;
    }
  }

  &-intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    @media (max-width: 767px) {
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }

    &__left {
      width: calc(50% - 15px);

      @media (max-width: 767px) {
        width: 100%;
      }

      img {
        width: 100%;
      }

      .sociomics-detail-intro__left__full-version {

        @media (max-width: 767px) {
          display: none;
        }
      }

      &__full-version {
        margin: 60px 0;

        h4 {
          font-weight: 600;
          font-size: 20px;
          color: #4F4C4C;
        }


        @media (max-width: 767px) {
          margin: 0;
          padding: 20px;
        }

        &__release {
          display: flex;
          width: 300px;
          @media (max-width: 767px) {
            flex-wrap: wrap;
          }

          &-image {
            width: 55%;
            margin-right: 10px;

            @media (max-width: 767px) {
              width: 100%;
              margin-bottom: 20px;
              margin-right: 0;
            }

            img {
              width: 100%;
            }
          }

          &__information {
            width: calc(45% - 10px);

            @media (max-width: 767px) {
              width: 100%;
            }

            &-title {
              display: inline-block;
              margin-bottom: 10px;
              text-decoration: none;
              font-size: 15px;
              color: #4F4C4C;
            }

            &-author {
              margin-bottom: 10px;
              display: flex;
              align-items: center;

              img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
              }

              span {
                font-size: 11px;
                color: #5E5C5C;
              }
            }

            &-views {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              font-size: 11px;
              color: #927575;


              &-point {
                display: inline-block;
                margin: 7px 6px 6px 6px;
                width: 3px;
                height: 3px;
                background: #927575;
                border-radius: 50%;
              }
            }
          }
        }
      }

      &__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        &-views {
          font-size: 15px;
          line-height: 18px;
          color: #927575;
        }

        &-likes {
          display: flex;
          align-items: center;
          font-size: 15px;
          line-height: 18px;
          color: #927575;

          &-like {
            margin-right: 15px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #927575;

            &:last-child {
              margin-right: 0;
            }

            img {
              margin-right: 10px;
            }
          }
        }
      }
    }

    &__right {
      width: calc(50% - 15px);

      @media (max-width: 767px) {
        width: 100%;
        margin-top: 15px;
      }

      &__header {
        display: flex;
        justify-content: flex-end;

        a {
          margin-left: 15px;

          &:first-child {
            margin: 0;
          }
        }
      }

      &-title {
        margin: 10px 0;

        h1 {
          font-weight: 600;
          font-size: 24px;
          color: #4F4C4C;
          margin: 0;

          @media (max-width: 767px) {
            font-size: 20px;
          }
        }

        span {
          display: inline-block;
          font-weight: 500;
          font-size: 11px;
          color: #927575;
          margin-top: 10px;
        }
      }

      &__makers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 20px;
        border-top: 1px solid #C4C4C4;
        border-bottom: 1px solid #C4C4C4;

        &__author {
          width: 160px;

          &:first-child {
            margin-right: 35px;
          }

          span {
            font-size: 11px;
            line-height: 18px;
            color: #927575;
          }

          &-info {
            display: flex;
            align-items: center;

            img {
              width: 30px;
              height: 30px;
              object-fit: cover;
            }

            span {
              font-size: 15px;
              color: #5E5C5C;
              margin-left: 15px;

              @media (max-width: 767px) {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }

      &__text {

        &__description {

          &-title {
            font-weight: 800;
            font-size: 20px;
            color: #4F4C4C;
            padding: 0;
            margin: 20px 0;

            @media (max-width: 767px) {
              margin: 15px 0;
              font-weight: 600;
            }
          }

          &-text {
            font-size: 18px;
            color: #4F4C4C;
            line-height: 25px;
            margin: 0;
            padding: 0;
          }
        }
      }

      &-end {
        margin-top: 20px;

        a {
          text-decoration: none;
          background: #C4C4C4;
          padding: 2.5px 20px;
          font-weight: 600;
          font-size: 15px;
          color: #4F4C4C;
        }
      }

      &-mobile {
        display: none;

        @media (max-width: 767px) {
          display: block;
        }
      }
    }

    &-share {
      position: relative;

      .ya-share2 {
        display: none;
        width: 133px;
        position: absolute;
        right: 0;
        top: -3px;
      }

      &:hover {

        .ya-share2 {
          display: block;
        }
      }
    }
  }

  &-content {

    &__item {
      border-top: 1px solid #C4C4C4;
      padding: 30px 0;

      &-inner {
        width: 680px;
        margin: 0 auto;

        @media (max-width: 767px) {
          width: 100%;
        }
      }

      h2 {
        font-weight: 600;
        font-size: 20px;
        margin: 0;
        color: #4F4C4C;
        text-align: center;
      }

      &-image {
        margin-bottom: 30px;

        img {
          width: calc(100% + 50px);
          margin: 0 0 0 -25px;

          @media (max-width: 767px) {
            width: calc(100% + 30px);
            margin: 0 0 0 -15px;
          }
        }
      }

      &-text {
        font-family: 'Montserrat', sans-serif !important;

        p {
          font-family: 'Montserrat', sans-serif !important;
          font-size: 18px !important;
          line-height: 24px !important;
          color: #4F4C4C;
          margin: 0 0 30px;

          &:last-child {
            margin: 0;
          }

          span {
            font-family: 'Montserrat', sans-serif !important;
            font-size: 18px !important;
            line-height: 24px !important;
          }
        }
      }

      &-dropdown {
        display: flex;
        justify-content: center;
        margin: 20px 0;

        .js-dropdown {
          position: relative;
        }

        &-open {
          display: inline-block;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #927575;
          cursor: pointer;
          padding: 10px;

          img {
            width: 100%;
          }
        }

        ul {
          display: none;
          position: absolute;
          z-index: 1;
          top: calc(100% + 10px);
          left: 0;
          padding: 0;
          margin: 0;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.05), 0px 16px 16px rgba(0, 0, 0, 0.05), 0px 32px 32px rgba(0, 0, 0, 0.05);
          background: #fff;
          list-style: none;
          text-align: left;
          min-width: 210px;

          li {
            width: 100%;

            a {
              display: block;
              cursor: pointer;
              padding: 10px 15px;

              &:hover {
                background-color: #F7EEEE;
              }
            }
          }
        }
      }

      &-number {
        display: block;
        text-align: center;
        color: #917475;
        position: relative;
        margin: 20px 0 20px -10px;
        width: calc(100% + 20px);

        @media (max-width: 767px) {
          margin: 20px 0 20px -6px;
          width: calc(100% + 14px);
        }

        span {
          position: absolute;
          top: -10px;
          left: calc(50% - 10px);
          background: #fff;
          padding: 0 20px;
        }
      }

      &--controls {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;

        a {
          cursor: pointer;
          margin-left: 10px;

          img {
            width: 20px;
          }
        }
      }
    }

    &__bottom {
      width: 680px;
      margin: 0 auto 60px;

      @media (max-width: 767px) {
        width: 100%;
        margin: 0 auto 30px;
      }

      &__other {
        margin: 60px 0;

        @media (max-width: 767px) {
          margin: 30px 0 0;
          padding: 20px;
        }

        h4 {
          font-weight: 600;
          font-size: 20px;
          color: #4F4C4C;
          margin-top: 0;
          margin-bottom: 30px;

          @media (max-width: 767px) {
            margin-bottom: 15px;
          }
        }

        &-items {
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media (max-width: 767px) {
            flex-wrap: wrap;
          }

          &-prev {
            cursor: pointer;
            position: absolute;
            right: auto;
            left: -30px;
          }

          &-next {
            cursor: pointer;
            position: absolute;
            right: -30px;
            left: auto;
          }
        }

        &-item {
          display: flex;
          width: 100%;

          @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 15px;
            flex-wrap: wrap;
          }

          &:last-child {

            @media (max-width: 767px) {
              margin-bottom: 0;
            }
          }

          &-image {
            width: 55%;
            margin-right: 10px;

            @media (max-width: 767px) {
              width: 100%;
              margin-bottom: 20px;
              margin-right: 0;
            }

            img {
              width: 100%;
            }
          }

          &__information {
            width: calc(45% - 10px);

            @media (max-width: 767px) {
              width: 100%;
            }

            &-title {
              display: inline-block;
              margin-bottom: 10px;
              text-decoration: none;
              font-size: 15px;
              color: #4F4C4C;
            }

            &-author {
              margin-bottom: 10px;
              display: flex;
              align-items: center;

              img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
              }

              span {
                font-size: 11px;
                color: #5E5C5C;
              }
            }

            &-views {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              font-size: 11px;
              color: #927575;


              &-point {
                display: inline-block;
                margin: 6px;
                width: 3px;
                height: 3px;
                background: #927575;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }

    &__comments-list {
      width: 680px;
      margin: 0 auto;

      @media (max-width: 767px) {
        width: 100%;
      }

      .sociomics-comments-item__comments {
        margin-bottom: 60px;

        @media (max-width: 767px) {
          margin-bottom: 0;
        }

        &-item {

          @media (max-width: 767px) {
            width: 100%;
            padding: 15px 0;
          }
        }
      }
    }

    &-start {

      a {
        text-decoration: none;
        background: #C4C4C4;
        padding: 2.5px 20px;
        font-weight: 600;
        font-size: 15px;
        color: #4F4C4C;
      }
    }

    &-support {
      font-size: 20px;
      color: #4F4C4C;
      margin-top: 60px;

      a {
        text-decoration: none;
        color: #4F4C4C;
      }

      @media (max-width: 767px) {
        margin-top: 50px;
      }

      &__social {
        display: flex;
        align-items: center;

        p {

        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;

          li {
            margin-left: 10px;

            a {
              @include default-transition();
              color: #4F4C4C;

              &:hover {
                text-decoration: none;
                color: #917475;
              }

              i {
                font-size: 28px;
              }
            }
          }
        }
      }
    }

    &__comment {
      padding: 10px 0 30px;
      border-top: 1px solid #C4C4C4;
      border-bottom: 1px solid #C4C4C4;

      @media (max-width: 767px) {
        padding: 0 0 15px;
      }

      span {
        font-size: 20px;
        line-height: 24px;
        color: #4F4C4C;
        padding-left: 30px;
        padding-right: 200px;
      }

      form {
        width: 680px;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;

        @media (max-width: 767px) {
          width: 100%;
          flex-wrap: wrap;
        }

        img {

          @media (max-width: 767px) {
            float: left;
          }
        }

        textarea {
          font-family: 'Montserrat', sans-serif;
          width: 100%;
          margin: 0 20px;
          font-size: 20px;
          line-height: 24px;
          outline: none;
          color: #4F4C4C;
          border: none;
          padding: 0;
          resize: none;

          @media (max-width: 767px) {
            width: calc(100% - 50px);
            margin-bottom: 15px;
            margin-right: 0;
            margin-left: 30px;
            font-size: 16px;
          }
        }
      }

      &__buttons {
        display: flex;
        font-weight: 600;
        font-size: 15px;
        margin-left: auto;

        @media (max-width: 767px) {
          justify-content: flex-end;
        }

        &-send {
          font-family: 'Montserrat', sans-serif;
          background: #4F4C4C;
          border: none;
          padding: 3px 10px;
          font-size: 15px;
          font-weight: 600;
          color: #ffffff;
          outline: none;
          cursor: pointer;
        }
      }
    }

    &__footer {
      width: 680px;
      margin: 60px auto;

      @media (max-width: 767px) {
        width: 100%;
        margin: 30px auto 10px;
      }

      h3 {
        font-weight: 800;
        font-size: 20px;
        color: #4F4C4C;
        margin-top: 0;
        margin-bottom: 30px;
      }

      p {
        font-size: 18px;
        line-height: 25px;
        color: #4F4C4C;
        margin: 0 0 10px;
      }

      ul {
        margin: 10px 0 30px;

        li {
          margin-bottom: 10px;
          font-size: 15px;
          line-height: 25px;
          color: #4F4C4C;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &-right {
    width: 270px;
    background: #ffffff;
    padding: 30px 20px 20px;

    @media (max-width: 767px) {
      display: none;
    }

    &-inner {
      //position: sticky;
      //top: 131px;

      &__content {
        margin-bottom: 40px;

        @media (max-width: 767px) {
          margin-top: 30px;
          margin-bottom: 30px;
          padding: 0 20px;
        }

        &-title {
          font-weight: 800;
          font-size: 20px;
          color: #4F4C4C;
          margin-bottom: 20px;

          @media (max-width: 767px) {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 15px;
          }
        }

        &__list {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            margin-bottom: 20px;
            font-size: 18px;
            color: #4F4C4C;

            @media (max-width: 767px) {
              font-size: 18px;
              margin-bottom: 15px;
            }

            &:last-child {
              margin-bottom: 0;
            }

            a {
              color: #4F4C4C;
              text-decoration: none;
            }
          }
        }
      }

      &__recommendations {
        margin-bottom: 30px;

        &-title {
          font-weight: 800;
          font-size: 20px;
          color: #4F4C4C;
          margin-bottom: 20px;
        }

        &-item {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          &-image {
            display: block;
            margin-bottom: 10px;

            img {
              width: 100%;
            }
          }

          &__description {
            display: flex;

            &-left {
              margin-right: 10px;
            }

            &-avatar {
              width: 30px;
              height: 30px;
              object-fit: cover;
              border-radius: 50%;
            }

            &-title {
              display: inline-block;
              text-decoration: none;
              font-size: 16px;
              color: #4F4C4C;
              margin-bottom: 5px;
            }

            &-author {
              font-size: 15px;
              margin-bottom: 5px;
              color: #4F4C4C;

              img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
              }

              span {
                font-size: 15px;
                color: #5E5C5C;
              }
            }

            &__views-block {
              display: flex;
              align-items: center;
              font-size: 11px;
              color: #927575;
            }

            &-point {
              display: inline-block;
              background: #927575;
              border-radius: 50%;
              margin: 1px 5px 0;
              width: 3px;
              height: 3px;
            }
          }
        }
      }
    }
  }
}
