.text-page {
  width: 800px;
  margin: 30px 0;

  @media (max-width: 1280px) {
    margin: 30px auto;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin: 15px auto 0;
  }

  h1 {
    color: #4F4C4C;
    font-weight: 800;
    font-size: 25px;
    margin: 0 30px 30px;

    @media (max-width: 767px) {
      margin: 0 20px 20px;
    }
  }

  &-inner {
    padding: 30px;
    background-color: #FFFFFF;

    @media (max-width: 767px) {
      padding: 20px;
    }

    img {
      width: 100%;
    }

    p {
      font-size: 16px;
      color: #4F4C4C;
      line-height: 26px;
    }
  }
}