body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: #f6eeee
}

body.body-fixed {
    position: fixed;
    top: 0
}

body.body--brown {
    background: #F7EEEE
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: #f6eeee;
    font-display: swap
}

.button {
    display: inline-block;
    color: #4F4C4C;
    padding: 12px 15px;
    border: 1px solid #4F4C4C;
    text-decoration: none
}

.no-cursor {
    cursor: default !important
}

.is-favorite {
    filter: invert(21%) sepia(61%) saturate(4113%) hue-rotate(351deg) brightness(86%) contrast(81%)
}

.is-like {
    filter: invert(21%) sepia(61%) saturate(4113%) hue-rotate(351deg) brightness(86%) contrast(81%)
}

.container {
    width: 1400px;
    margin: 0 auto
}

@media (max-width: 1280px) {
    .container {
        width: 1240px
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%
    }
}

.content {
    display: flex;
    justify-content: space-between;
    background: #F7EEEE;
    position: relative;
    top: 71px;
    min-height: 100vh
}

@media (max-width: 767px) {
    .content {
        top: 67px
    }
}

.content-right {
    position: relative;
    margin-left: 290px
}

@media (max-width: 1280px) {
    .content-right {
        width: 100%;
        margin-left: 0
    }
}

@media (max-width: 767px) {
    .content-right {
        width: 100%;
        margin-left: 0
    }
}

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #4F4C4C;
    background: #ffffff;
    padding: 0
}

@media (max-width: 767px) {
    .header {
        width: 100%;
        padding: 0
    }
}

.header-inner {
    display: flex;
    align-items: center;
    padding: 15px 0;
    background: #ffffff
}

@media (max-width: 767px) {
    .header-inner {
        position: relative;
        padding: 15px
    }
}

.header-burger {
    display: none;
    margin-right: 30px
}

@media (max-width: 1280px) {
    .header-burger {
        display: block
    }
}

@media (max-width: 767px) {
    .header-burger {
        display: block;
        margin-right: 15px
    }
}

.header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000
}

.header-logo img {
    width: 40px;
    margin-right: 10px
}

@media (max-width: 767px) {
    .header-logo img {
        width: 36px
    }
}

.header-logo span {
    text-transform: uppercase;
    font-size: 20px
}

@media (max-width: 767px) {
    .header-logo span {
        font-size: 16px
    }
}

.header-search {
    display: flex;
    align-items: center;
    margin-left: 100px
}

@media (max-width: 1280px) {
    .header-search {
        margin-left: 60px
    }
}

@media (max-width: 767px) {
    .header-search {
        margin-left: auto
    }
}

.header-search label {
    cursor: pointer;
    width: 18px;
    height: 18px
}

.header-search input {
    width: 320px;
    font-family: 'Montserrat', sans-serif;
    color: #4F4C4C;
    font-size: 20px;
    border: none;
    padding: 0;
    margin-left: 15px
}

@media (max-width: 767px) {
    .header-search input {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        height: 64px;
        margin-left: 45px;
        font-size: 18px
    }
}

.header-search input:focus {
    outline: none;
    border: 0
}

.header-search-back {
    display: none
}

@media (max-width: 767px) {
    .header-search-back {
        position: absolute;
        left: 15px
    }
}

.header-search-back img {
    width: 21px
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: auto
}

@media (max-width: 767px) {
    .header-right {
        margin-left: 0
    }
}

.header-right a {
    display: flex;
    align-items: center;
    color: #4F4C4C;
    font-size: 20px;
    text-decoration: none;
    margin-left: 70px
}

@media (max-width: 767px) {
    .header-right a {
        margin-left: 15px
    }
}

.header-right a:first-child {
    margin-left: 0
}

@media (max-width: 767px) {
    .header-right a:first-child {
        display: none
    }
}

.header-right a img {
    margin-right: 10px
}

@media (max-width: 767px) {
    .header-right a img {
        margin-right: 0
    }
}

@media (max-width: 767px) {
    .header-right a span {
        display: none
    }
}

.header-right-logout {
    margin-left: 10px
}

.header-right-logout img {
    width: 24px
}

@media (max-width: 767px) {
    .header--searchable {
        height: 66px
    }

    .header--searchable .header-inner {
        padding: 33px 15px
    }

    .header--searchable .header-burger {
        display: none
    }

    .header--searchable .header-logo {
        display: none
    }

    .header--searchable .header-right {
        display: none
    }

    .header--searchable .header-search {
        margin-left: 0
    }

    .header--searchable .header-search label {
        position: absolute;
        right: 15px
    }

    .header--searchable .header-search input {
        display: block;
        width: calc(100% - 95px)
    }

    .header--searchable .header-search-back {
        display: block;
        height: 15px
    }
}

.left-menu {
    height: 100%;
    width: 270px;
    padding-top: 30px;
    background: #ffffff;
    position: fixed;
    z-index: 2
}

@media (max-width: 1280px) {
    .left-menu {
        display: none;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1)
    }
}

@media (max-width: 767px) {
    .left-menu {
        display: none;
        padding-top: 0;
        width: calc(100% - 100px)
    }
}

@media (max-width: 767px) and (max-height: 440px) {
    .left-menu {
        width: 100%
    }
}

.left-menu-bg {
    display: none;
    position: fixed;
    top: 71px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5)
}

@media (max-width: 767px) {
    .left-menu-bg {
        top: 67px
    }
}

.left-menu-logo {
    display: none
}

@media (max-width: 767px) {
    .left-menu-logo {
        display: flex;
        align-items: center;
        font-size: 20px;
        text-transform: uppercase;
        color: #000000;
        text-decoration: none
    }
}

.left-menu-logo img {
    width: 36px;
    margin-right: 10px
}

.left-menu-close {
    display: none
}

@media (max-width: 767px) {
    .left-menu-close {
        display: block;
        position: absolute;
        right: 30px;
        top: 36px
    }
}

@media (max-width: 767px) {
    .left-menu-close img {
        width: 17px
    }
}

.left-menu-main {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0
}

@media (max-width: 767px) {
    .left-menu-main {
        margin: 20px 0
    }
}

@media (max-height: 640px) {
    .left-menu-main {
        margin: 10px 0
    }
}

@media (max-width: 767px) and (max-height: 440px) {
    .left-menu-main {
        margin: 20px 0;
        width: calc(50% - 10px);
        float: left
    }
}

.left-menu-main li {
    margin-bottom: 15px
}

@media (max-width: 767px) {
    .left-menu-main li {
        margin-bottom: 12px
    }
}

@media (max-height: 640px) {
    .left-menu-main li {
        margin-bottom: 6px
    }
}

.left-menu-main li.desktop-hidden {
    display: none
}

@media (max-width: 767px) {
    .left-menu-main li.desktop-hidden {
        display: block
    }
}

.left-menu-main li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #000000
}

@media (max-width: 767px) {
    .left-menu-main li a {
        font-size: 19px
    }
}

@media (max-height: 640px) {
    .left-menu-main li a {
        font-size: 15px
    }
}

.left-menu-main li a img {
    margin-right: 10px
}

@media (max-height: 640px) {
    .left-menu-main li a img {
        width: 12px
    }
}

.left-menu-bottom {
    width: 270px;
    position: fixed;
    bottom: 0
}

@media (max-width: 767px) {
    .left-menu-bottom {
        width: calc(100% - 100px)
    }
}

@media (max-width: 767px) and (max-height: 440px) {
    .left-menu-bottom {
        margin: 20px 0;
        width: calc(50% - 10px);
        float: left;
        position: unset
    }
}

.left-menu-additional {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0
}

@media (max-width: 767px) {
    .left-menu-additional {
        padding-left: 20px
    }
}

.left-menu-additional li {
    margin-bottom: 10px
}

@media (max-width: 767px) {
    .left-menu-additional li {
        margin-bottom: 5px
    }
}

@media (max-height: 640px) {
    .left-menu-additional li {
        margin-bottom: 2px
    }
}

.left-menu-additional li:last-child {
    margin-bottom: 20px
}

@media (max-height: 640px) {
    .left-menu-additional li:last-child {
        margin-bottom: 5px
    }
}

.left-menu-additional li a {
    text-decoration: none;
    font-size: 15px;
    color: #4F4C4C
}

@media (max-width: 767px) {
    .left-menu-additional li a {
        font-size: 14px
    }
}

@media (max-height: 640px) {
    .left-menu-additional li a {
        font-size: 13px
    }
}

.left-menu-copying {
    display: flex;
    align-items: flex-start;
    font-size: 10px;
    line-height: 12px;
    color: #4F4C4C;
    margin-bottom: 20px;
    padding-right: 8px;
    padding-left: 20px
}

@media (max-width: 767px) {
    .left-menu-copying {
        padding-right: 0;
        margin-bottom: 15px
    }
}

@media (max-height: 640px) {
    .left-menu-copying {
        margin-bottom: 5px
    }
}

.left-menu-copying img {
    margin-right: 3px
}

.left-menu-copying p {
    margin: 0
}

.left-menu-social {
    padding-left: 20px;
    margin-bottom: 15px
}

@media (max-width: 767px) {
    .left-menu-social {
        margin-top: 10px
    }
}

.left-menu-social ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center
}

.left-menu-social ul li {
    margin-right: 10px
}

.left-menu-social ul li:last-child {
    margin-right: 0
}

.left-menu-social ul li a {
    transition: all 0.3s ease;
    color: #4F4C4C
}

.left-menu-social ul li a:hover {
    text-decoration: none;
    color: #917475
}

.left-menu-social ul li a i {
    font-size: 24px
}

.left-menu-langs {
    border-top: 1px solid #ABABAB;
    border-bottom: 1px solid #ABABAB;
    padding: 10px 0 10px 20px;
    list-style: none;
    margin: 0
}

@media (max-width: 767px) {
    .left-menu-langs {
        padding: 2px 0 2px 20px
    }
}

@media (max-height: 640px) {
    .left-menu-langs {
        padding: 0 0 0 20px
    }
}

@media (max-width: 767px) and (max-height: 440px) {
    .left-menu-langs {
        border: none
    }
}

.left-menu-langs li {
    display: inline-block
}

.left-menu-langs li:first-child {
    padding-left: 0
}

.left-menu-langs li a {
    display: block;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #4F4C4C;
    padding: 6px 9px
}

@media (max-width: 767px) {
    .left-menu-langs li a {
        font-size: 14px;
        font-weight: 400;
        padding: 5px 7px
    }
}

.left-menu-langs li.active a {
    cursor: default;
    background: #927575;
    color: #ffffff
}

.left-menu-feedback {
    padding: 15px 0 15px 20px;
    border-bottom: 1px solid #ABABAB
}

@media (max-width: 767px) {
    .left-menu-feedback {
        padding: 6px 0 6px 20px
    }
}

@media (max-height: 640px) {
    .left-menu-feedback {
        padding: 3px 0 3px 20px
    }
}

@media (max-width: 767px) and (max-height: 440px) {
    .left-menu-feedback {
        border-bottom: 0
    }
}

.left-menu-feedback a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #4F4C4C
}

@media (max-width: 767px) {
    .left-menu-feedback a {
        font-size: 14px;
        font-weight: 400
    }
}

@media (max-height: 640px) {
    .left-menu-feedback a {
        padding: 5px 0
    }
}

.left-menu-rights {
    color: #000000;
    font-size: 10px;
    margin: 0;
    padding: 15px 0 15px 20px
}

@media (max-width: 767px) {
    .left-menu-rights {
        padding: 10px 0 10px 20px
    }
}

.right-content-fixed {
    position: fixed;
    margin-left: 800px
}

@media (max-width: 1280px) {
    .right-content-fixed {
        margin-left: 930px
    }
}

.right-content-fixed--h100 {
    height: 100%
}

.right-content-fixed--b0 {
    bottom: 0
}

.right-content-fixed--t0 {
    top: 0
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px
}

@media (max-width: 767px) {
    .scroll-to-top {
        display: none !important
    }
}

.scroll-to-top img {
    border-radius: 50%;
    border: 1px solid #4e4b4c;
    width: 26px;
    padding: 6px;
    transform: rotate(90deg)
}

.js-cookie-modal {
    width: 270px;
    background-color: #ffffff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    text-align: center;
    padding: 10px;
    border: 2px solid #fafafa;
    display: none
}

@media (max-width: 768px) {
    .js-cookie-modal {
        width: calc(100%);
        left: 0;
        right: 0;
        bottom: 0;
        border: 0;
        border-top: 2px solid #fafafa;
        padding: 15px 0
    }
}

.js-cookie-modal p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5px
}

.js-cookie-modal a {
    font-size: 12px;
    color: #927575
}

.js-cookie-modal a:hover {
    text-decoration: none
}

.breadcrumb {
    display: none
}

.homepage {
    display: flex
}

.homepage h1 {
    display: none
}

.homepage__release-list {
    width: 780px;
    margin-top: 30px;
    margin-right: 20px
}

@media (max-width: 1280px) {
    .homepage__release-list {
        width: 910px
    }
}

@media (max-width: 767px) {
    .homepage__release-list {
        width: 100%;
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0
    }
}

.homepage__release-item {
    margin-bottom: 30px
}

@media (max-width: 767px) {
    .homepage__release-item {
        margin-bottom: 15px
    }
}

@media (max-width: 767px) {
    .homepage__release-item:last-child {
        margin-bottom: 0
    }
}

.homepage__release-item h2 {
    font-weight: 800;
    font-size: 25px;
    color: #4F4C4C;
    margin: 0 0 30px 20px
}

@media (max-width: 767px) {
    .homepage__release-item h2 {
        margin: 0 20px 15px;
        font-size: 24px
    }
}

.homepage__release-item__sociomics-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px 0;
    background: #ffffff
}

@media (max-width: 767px) {
    .homepage__release-item__sociomics-list {
        padding: 20px 20px 0 20px
    }
}

.homepage__release-item__sociomics-item {
    width: calc(100% / 3 - 20px);
    margin: 0 10px 20px
}

@media (max-width: 767px) {
    .homepage__release-item__sociomics-item {
        width: 100%;
        padding: 0;
        margin: 0 0 20px
    }
}

.homepage__release-item__sociomics-item-card img {
    width: 100%
}

@media (max-width: 767px) {
    .homepage__release-item__sociomics-item-card img {
        height: auto
    }
}

.homepage__release-item__sociomics-item-description {
    display: flex;
    margin-top: 10px
}

.homepage__release-item__sociomics-item-description-left {
    margin-right: 10px
}

.homepage__release-item__sociomics-item-description-right {
    width: calc(100% - 40px)
}

.homepage__release-item__sociomics-item-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover
}

.homepage__release-item__sociomics-item-title {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #4F4C4C;
    margin-bottom: 5px
}

@media (max-width: 767px) {
    .homepage__release-item__sociomics-item-title {
        font-size: 20px
    }
}

.homepage__release-item__sociomics-item-author {
    font-size: 15px;
    margin-bottom: 5px;
    color: #4F4C4C
}

@media (max-width: 767px) {
    .homepage__release-item__sociomics-item-author {
        font-size: 14px
    }
}

.homepage__release-item__sociomics-item__views-block {
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #927575
}

@media (max-width: 767px) {
    .homepage__release-item__sociomics-item__views-block {
        font-size: 12px
    }
}

.homepage__release-item__sociomics-item-point {
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #927575;
    border-radius: 50%;
    margin: 1px 5px 0
}

.homepage-library {
    width: 270px;
    background: #ffffff;
    padding: 30px 20px 20px
}

@media (max-width: 1280px) {
    .homepage-library {
        width: 270px
    }
}

@media (max-width: 767px) {
    .homepage-library {
        display: none
    }
}

.homepage-library h3 {
    font-weight: 800;
    font-size: 25px;
    color: #4F4C4C;
    margin-top: 0;
    margin-bottom: 30px
}

.homepage-library-sociomics-list {
    margin-bottom: 30px
}

.homepage-library__sociomics-item {
    margin-bottom: 20px
}

.homepage-library__sociomics-item:last-child {
    margin-bottom: 0
}

.homepage-library__sociomics-item-img {
    display: block;
    margin-bottom: 10px
}

.homepage-library__sociomics-item-img img {
    width: 100%
}

.homepage-library__sociomics-item__description {
    display: flex
}

.homepage-library__sociomics-item__description-left {
    margin-right: 10px
}

.homepage-library__sociomics-item__description-left img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover
}

.homepage-library__sociomics-item__description-title {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #4F4C4C;
    margin-bottom: 5px
}

.homepage-library__sociomics-item__description-author {
    font-size: 15px;
    margin-bottom: 5px;
    color: #4F4C4C
}

.homepage-library__sociomics-item__description-views-block {
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #927575
}

.homepage-library__sociomics-item__description-point {
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #927575;
    border-radius: 50%;
    margin: 1px 5px 0
}

.sociomics-detail {
    display: flex;
    justify-content: space-between
}

.sociomics-detail--create {
    margin-bottom: 180px
}

@media (max-width: 767px) {
    .sociomics-detail--create {
        margin-bottom: 20px
    }
}

.sociomics-detail--create .sociomics-detail-inner {
    padding-bottom: 60px
}

.sociomics-detail--create .sociomics-detail-inner h2 {
    margin-left: 0
}

.sociomics-detail-inner {
    width: 700px;
    background: #ffffff;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 20px
}

@media (max-width: 1280px) {
    .sociomics-detail-inner {
        width: 830px
    }
}

@media (max-width: 767px) {
    .sociomics-detail-inner {
        width: calc(100% - 40px);
        padding: 20px;
        margin-right: 0
    }
}

.sociomics-detail-intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px
}

@media (max-width: 767px) {
    .sociomics-detail-intro {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 30px
    }
}

.sociomics-detail-intro__left {
    width: calc(50% - 15px)
}

@media (max-width: 767px) {
    .sociomics-detail-intro__left {
        width: 100%
    }
}

.sociomics-detail-intro__left img {
    width: 100%
}

@media (max-width: 767px) {
    .sociomics-detail-intro__left .sociomics-detail-intro__left__full-version {
        display: none
    }
}

.sociomics-detail-intro__left__full-version {
    margin: 60px 0
}

.sociomics-detail-intro__left__full-version h4 {
    font-weight: 600;
    font-size: 20px;
    color: #4F4C4C
}

@media (max-width: 767px) {
    .sociomics-detail-intro__left__full-version {
        margin: 0;
        padding: 20px
    }
}

.sociomics-detail-intro__left__full-version__release {
    display: flex;
    width: 300px
}

@media (max-width: 767px) {
    .sociomics-detail-intro__left__full-version__release {
        flex-wrap: wrap
    }
}

.sociomics-detail-intro__left__full-version__release-image {
    width: 55%;
    margin-right: 10px
}

@media (max-width: 767px) {
    .sociomics-detail-intro__left__full-version__release-image {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0
    }
}

.sociomics-detail-intro__left__full-version__release-image img {
    width: 100%
}

.sociomics-detail-intro__left__full-version__release__information {
    width: calc(45% - 10px)
}

@media (max-width: 767px) {
    .sociomics-detail-intro__left__full-version__release__information {
        width: 100%
    }
}

.sociomics-detail-intro__left__full-version__release__information-title {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 15px;
    color: #4F4C4C
}

.sociomics-detail-intro__left__full-version__release__information-author {
    margin-bottom: 10px;
    display: flex;
    align-items: center
}

.sociomics-detail-intro__left__full-version__release__information-author img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px
}

.sociomics-detail-intro__left__full-version__release__information-author span {
    font-size: 11px;
    color: #5E5C5C
}

.sociomics-detail-intro__left__full-version__release__information-views {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 11px;
    color: #927575
}

.sociomics-detail-intro__left__full-version__release__information-views-point {
    display: inline-block;
    margin: 7px 6px 6px 6px;
    width: 3px;
    height: 3px;
    background: #927575;
    border-radius: 50%
}

.sociomics-detail-intro__left__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px
}

.sociomics-detail-intro__left__bottom-views {
    font-size: 15px;
    line-height: 18px;
    color: #927575
}

.sociomics-detail-intro__left__bottom-likes {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 18px;
    color: #927575
}

.sociomics-detail-intro__left__bottom-likes-like {
    margin-right: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #927575
}

.sociomics-detail-intro__left__bottom-likes-like:last-child {
    margin-right: 0
}

.sociomics-detail-intro__left__bottom-likes-like img {
    margin-right: 10px
}

.sociomics-detail-intro__right {
    width: calc(50% - 15px)
}

@media (max-width: 767px) {
    .sociomics-detail-intro__right {
        width: 100%;
        margin-top: 15px
    }
}

.sociomics-detail-intro__right__header {
    display: flex;
    justify-content: flex-end
}

.sociomics-detail-intro__right__header a {
    margin-left: 15px
}

.sociomics-detail-intro__right__header a:first-child {
    margin: 0
}

.sociomics-detail-intro__right-title {
    margin: 10px 0
}

.sociomics-detail-intro__right-title h1 {
    font-weight: 600;
    font-size: 24px;
    color: #4F4C4C;
    margin: 0
}

@media (max-width: 767px) {
    .sociomics-detail-intro__right-title h1 {
        font-size: 20px
    }
}

.sociomics-detail-intro__right-title span {
    display: inline-block;
    font-weight: 500;
    font-size: 11px;
    color: #927575;
    margin-top: 10px
}

.sociomics-detail-intro__right__makers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 20px;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4
}

.sociomics-detail-intro__right__makers__author {
    width: 160px
}

.sociomics-detail-intro__right__makers__author:first-child {
    margin-right: 35px
}

.sociomics-detail-intro__right__makers__author span {
    font-size: 11px;
    line-height: 18px;
    color: #927575
}

.sociomics-detail-intro__right__makers__author-info {
    display: flex;
    align-items: center
}

.sociomics-detail-intro__right__makers__author-info img {
    width: 30px;
    height: 30px;
    object-fit: cover
}

.sociomics-detail-intro__right__makers__author-info span {
    font-size: 15px;
    color: #5E5C5C;
    margin-left: 15px
}

@media (max-width: 767px) {
    .sociomics-detail-intro__right__makers__author-info span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
}

.sociomics-detail-intro__right__text__description-title {
    font-weight: 800;
    font-size: 20px;
    color: #4F4C4C;
    padding: 0;
    margin: 20px 0
}

@media (max-width: 767px) {
    .sociomics-detail-intro__right__text__description-title {
        margin: 15px 0;
        font-weight: 600
    }
}

.sociomics-detail-intro__right__text__description-text {
    font-size: 18px;
    color: #4F4C4C;
    line-height: 25px;
    margin: 0;
    padding: 0
}

.sociomics-detail-intro__right-end {
    margin-top: 20px
}

.sociomics-detail-intro__right-end a {
    text-decoration: none;
    background: #C4C4C4;
    padding: 2.5px 20px;
    font-weight: 600;
    font-size: 15px;
    color: #4F4C4C
}

.sociomics-detail-intro__right-mobile {
    display: none
}

@media (max-width: 767px) {
    .sociomics-detail-intro__right-mobile {
        display: block
    }
}

.sociomics-detail-intro-share {
    position: relative
}

.sociomics-detail-intro-share .ya-share2 {
    display: none;
    width: 133px;
    position: absolute;
    right: 0;
    top: -3px
}

.sociomics-detail-intro-share:hover .ya-share2 {
    display: block
}

.sociomics-detail-content__item {
    border-top: 1px solid #C4C4C4;
    padding: 30px 0
}

.sociomics-detail-content__item-inner {
    width: 680px;
    margin: 0 auto
}

@media (max-width: 767px) {
    .sociomics-detail-content__item-inner {
        width: 100%
    }
}

.sociomics-detail-content__item h2 {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    color: #4F4C4C;
    text-align: center
}

.sociomics-detail-content__item-image {
    margin-bottom: 30px
}

.sociomics-detail-content__item-image img {
    width: calc(100% + 50px);
    margin: 0 0 0 -25px
}

@media (max-width: 767px) {
    .sociomics-detail-content__item-image img {
        width: calc(100% + 30px);
        margin: 0 0 0 -15px
    }
}

.sociomics-detail-content__item-text {
    font-family: 'Montserrat', sans-serif !important
}

.sociomics-detail-content__item-text p {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
    line-height: 24px !important;
    color: #4F4C4C;
    margin: 0 0 30px
}

.sociomics-detail-content__item-text p:last-child {
    margin: 0
}

.sociomics-detail-content__item-text p span {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
    line-height: 24px !important
}

.sociomics-detail-content__item-dropdown {
    display: flex;
    justify-content: center;
    margin: 20px 0
}

.sociomics-detail-content__item-dropdown .js-dropdown {
    position: relative
}

.sociomics-detail-content__item-dropdown-open {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #927575;
    cursor: pointer;
    padding: 10px
}

.sociomics-detail-content__item-dropdown-open img {
    width: 100%
}

.sociomics-detail-content__item-dropdown ul {
    display: none;
    position: absolute;
    z-index: 1;
    top: calc(100% + 10px);
    left: 0;
    padding: 0;
    margin: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.05), 0px 16px 16px rgba(0, 0, 0, 0.05), 0px 32px 32px rgba(0, 0, 0, 0.05);
    background: #fff;
    list-style: none;
    text-align: left;
    min-width: 210px
}

.sociomics-detail-content__item-dropdown ul li {
    width: 100%
}

.sociomics-detail-content__item-dropdown ul li a {
    display: block;
    cursor: pointer;
    padding: 10px 15px
}

.sociomics-detail-content__item-dropdown ul li a:hover {
    background-color: #F7EEEE
}

.sociomics-detail-content__item-number {
    display: block;
    text-align: center;
    color: #917475;
    position: relative;
    margin: 20px 0 20px -10px;
    width: calc(100% + 20px)
}

@media (max-width: 767px) {
    .sociomics-detail-content__item-number {
        margin: 20px 0 20px -6px;
        width: calc(100% + 14px)
    }
}

.sociomics-detail-content__item-number span {
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    background: #fff;
    padding: 0 20px
}

.sociomics-detail-content__item--controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px
}

.sociomics-detail-content__item--controls a {
    cursor: pointer;
    margin-left: 10px
}

.sociomics-detail-content__item--controls a img {
    width: 20px
}

.sociomics-detail-content__bottom {
    width: 680px;
    margin: 0 auto 60px
}

@media (max-width: 767px) {
    .sociomics-detail-content__bottom {
        width: 100%;
        margin: 0 auto 30px
    }
}

.sociomics-detail-content__bottom__other {
    margin: 60px 0
}

@media (max-width: 767px) {
    .sociomics-detail-content__bottom__other {
        margin: 30px 0 0;
        padding: 20px
    }
}

.sociomics-detail-content__bottom__other h4 {
    font-weight: 600;
    font-size: 20px;
    color: #4F4C4C;
    margin-top: 0;
    margin-bottom: 30px
}

@media (max-width: 767px) {
    .sociomics-detail-content__bottom__other h4 {
        margin-bottom: 15px
    }
}

.sociomics-detail-content__bottom__other-items {
    display: flex;
    justify-content: space-between;
    align-items: center
}

@media (max-width: 767px) {
    .sociomics-detail-content__bottom__other-items {
        flex-wrap: wrap
    }
}

.sociomics-detail-content__bottom__other-items-prev {
    cursor: pointer;
    position: absolute;
    right: auto;
    left: -30px
}

.sociomics-detail-content__bottom__other-items-next {
    cursor: pointer;
    position: absolute;
    right: -30px;
    left: auto
}

.sociomics-detail-content__bottom__other-item {
    display: flex;
    width: 100%
}

@media (max-width: 767px) {
    .sociomics-detail-content__bottom__other-item {
        width: 100%;
        margin-bottom: 15px;
        flex-wrap: wrap
    }
}

@media (max-width: 767px) {
    .sociomics-detail-content__bottom__other-item:last-child {
        margin-bottom: 0
    }
}

.sociomics-detail-content__bottom__other-item-image {
    width: 55%;
    margin-right: 10px
}

@media (max-width: 767px) {
    .sociomics-detail-content__bottom__other-item-image {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0
    }
}

.sociomics-detail-content__bottom__other-item-image img {
    width: 100%
}

.sociomics-detail-content__bottom__other-item__information {
    width: calc(45% - 10px)
}

@media (max-width: 767px) {
    .sociomics-detail-content__bottom__other-item__information {
        width: 100%
    }
}

.sociomics-detail-content__bottom__other-item__information-title {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 15px;
    color: #4F4C4C
}

.sociomics-detail-content__bottom__other-item__information-author {
    margin-bottom: 10px;
    display: flex;
    align-items: center
}

.sociomics-detail-content__bottom__other-item__information-author img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px
}

.sociomics-detail-content__bottom__other-item__information-author span {
    font-size: 11px;
    color: #5E5C5C
}

.sociomics-detail-content__bottom__other-item__information-views {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 11px;
    color: #927575
}

.sociomics-detail-content__bottom__other-item__information-views-point {
    display: inline-block;
    margin: 6px;
    width: 3px;
    height: 3px;
    background: #927575;
    border-radius: 50%
}

.sociomics-detail-content__comments-list {
    width: 680px;
    margin: 0 auto
}

@media (max-width: 767px) {
    .sociomics-detail-content__comments-list {
        width: 100%
    }
}

.sociomics-detail-content__comments-list .sociomics-comments-item__comments {
    margin-bottom: 60px
}

@media (max-width: 767px) {
    .sociomics-detail-content__comments-list .sociomics-comments-item__comments {
        margin-bottom: 0
    }
}

@media (max-width: 767px) {
    .sociomics-detail-content__comments-list .sociomics-comments-item__comments-item {
        width: 100%;
        padding: 15px 0
    }
}

.sociomics-detail-content-start a {
    text-decoration: none;
    background: #C4C4C4;
    padding: 2.5px 20px;
    font-weight: 600;
    font-size: 15px;
    color: #4F4C4C
}

.sociomics-detail-content-support {
    font-size: 20px;
    color: #4F4C4C;
    margin-top: 60px
}

.sociomics-detail-content-support a {
    text-decoration: none;
    color: #4F4C4C
}

@media (max-width: 767px) {
    .sociomics-detail-content-support {
        margin-top: 50px
    }
}

.sociomics-detail-content-support__social {
    display: flex;
    align-items: center
}

.sociomics-detail-content-support__social ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center
}

.sociomics-detail-content-support__social ul li {
    margin-left: 10px
}

.sociomics-detail-content-support__social ul li a {
    transition: all 0.3s ease;
    color: #4F4C4C
}

.sociomics-detail-content-support__social ul li a:hover {
    text-decoration: none;
    color: #917475
}

.sociomics-detail-content-support__social ul li a i {
    font-size: 28px
}

.sociomics-detail-content__comment {
    padding: 10px 0 30px;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4
}

@media (max-width: 767px) {
    .sociomics-detail-content__comment {
        padding: 0 0 15px
    }
}

.sociomics-detail-content__comment span {
    font-size: 20px;
    line-height: 24px;
    color: #4F4C4C;
    padding-left: 30px;
    padding-right: 200px
}

.sociomics-detail-content__comment form {
    width: 680px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start
}

@media (max-width: 767px) {
    .sociomics-detail-content__comment form {
        width: 100%;
        flex-wrap: wrap
    }
}

@media (max-width: 767px) {
    .sociomics-detail-content__comment form img {
        float: left
    }
}

.sociomics-detail-content__comment form textarea {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0 20px;
    font-size: 20px;
    line-height: 24px;
    outline: none;
    color: #4F4C4C;
    border: none;
    padding: 0;
    resize: none
}

@media (max-width: 767px) {
    .sociomics-detail-content__comment form textarea {
        width: calc(100% - 50px);
        margin-bottom: 15px;
        margin-right: 0;
        margin-left: 30px;
        font-size: 16px
    }
}

.sociomics-detail-content__comment__buttons {
    display: flex;
    font-weight: 600;
    font-size: 15px;
    margin-left: auto
}

@media (max-width: 767px) {
    .sociomics-detail-content__comment__buttons {
        justify-content: flex-end
    }
}

.sociomics-detail-content__comment__buttons-send {
    font-family: 'Montserrat', sans-serif;
    background: #4F4C4C;
    border: none;
    padding: 3px 10px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    outline: none;
    cursor: pointer
}

.sociomics-detail-content__footer {
    width: 680px;
    margin: 60px auto
}

@media (max-width: 767px) {
    .sociomics-detail-content__footer {
        width: 100%;
        margin: 30px auto 10px
    }
}

.sociomics-detail-content__footer h3 {
    font-weight: 800;
    font-size: 20px;
    color: #4F4C4C;
    margin-top: 0;
    margin-bottom: 30px
}

.sociomics-detail-content__footer p {
    font-size: 18px;
    line-height: 25px;
    color: #4F4C4C;
    margin: 0 0 10px
}

.sociomics-detail-content__footer ul {
    margin: 10px 0 30px
}

.sociomics-detail-content__footer ul li {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 25px;
    color: #4F4C4C
}

.sociomics-detail-content__footer ul li:last-child {
    margin-bottom: 0
}

.sociomics-detail-right {
    width: 270px;
    background: #ffffff;
    padding: 30px 20px 20px
}

@media (max-width: 767px) {
    .sociomics-detail-right {
        display: none
    }
}

.sociomics-detail-right-inner__content {
    margin-bottom: 40px
}

@media (max-width: 767px) {
    .sociomics-detail-right-inner__content {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0 20px
    }
}

.sociomics-detail-right-inner__content-title {
    font-weight: 800;
    font-size: 20px;
    color: #4F4C4C;
    margin-bottom: 20px
}

@media (max-width: 767px) {
    .sociomics-detail-right-inner__content-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px
    }
}

.sociomics-detail-right-inner__content__list {
    list-style: none;
    margin: 0;
    padding: 0
}

.sociomics-detail-right-inner__content__list li {
    margin-bottom: 20px;
    font-size: 18px;
    color: #4F4C4C
}

@media (max-width: 767px) {
    .sociomics-detail-right-inner__content__list li {
        font-size: 18px;
        margin-bottom: 15px
    }
}

.sociomics-detail-right-inner__content__list li:last-child {
    margin-bottom: 0
}

.sociomics-detail-right-inner__content__list li a {
    color: #4F4C4C;
    text-decoration: none
}

.sociomics-detail-right-inner__recommendations {
    margin-bottom: 30px
}

.sociomics-detail-right-inner__recommendations-title {
    font-weight: 800;
    font-size: 20px;
    color: #4F4C4C;
    margin-bottom: 20px
}

.sociomics-detail-right-inner__recommendations-item {
    margin-bottom: 20px
}

.sociomics-detail-right-inner__recommendations-item:last-child {
    margin-bottom: 0
}

.sociomics-detail-right-inner__recommendations-item-image {
    display: block;
    margin-bottom: 10px
}

.sociomics-detail-right-inner__recommendations-item-image img {
    width: 100%
}

.sociomics-detail-right-inner__recommendations-item__description {
    display: flex
}

.sociomics-detail-right-inner__recommendations-item__description-left {
    margin-right: 10px
}

.sociomics-detail-right-inner__recommendations-item__description-avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%
}

.sociomics-detail-right-inner__recommendations-item__description-title {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #4F4C4C;
    margin-bottom: 5px
}

.sociomics-detail-right-inner__recommendations-item__description-author {
    font-size: 15px;
    margin-bottom: 5px;
    color: #4F4C4C
}

.sociomics-detail-right-inner__recommendations-item__description-author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px
}

.sociomics-detail-right-inner__recommendations-item__description-author span {
    font-size: 15px;
    color: #5E5C5C
}

.sociomics-detail-right-inner__recommendations-item__description__views-block {
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #927575
}

.sociomics-detail-right-inner__recommendations-item__description-point {
    display: inline-block;
    background: #927575;
    border-radius: 50%;
    margin: 1px 5px 0;
    width: 3px;
    height: 3px
}

.favorites {
    margin: 30px 0
}

@media (max-width: 767px) {
    .favorites {
        margin: 15px 0 0 0;
        padding-right: 0
    }
}

.favorites h1 {
    color: #4F4C4C;
    font-weight: 800;
    font-size: 25px;
    margin: 0
}

@media (max-width: 767px) {
    .favorites h1 {
        margin: 0;
        padding-left: 0;
        font-size: 24px
    }
}

.favorites__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px 30px
}

@media (max-width: 767px) {
    .favorites__nav {
        width: calc(100% - 40px);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 20px 15px
    }
}

.favorites__nav-buttons {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #4F4C4C
}

@media (max-width: 767px) {
    .favorites__nav-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 15px
    }
}

.favorites__nav-buttons a {
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    background: #4F4C4C;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    text-decoration: none
}

@media (max-width: 767px) {
    .favorites__nav-buttons a {
        font-size: 11px
    }
}

.favorites__nav-buttons a:hover {
    color: #fff;
    background: #927575
}

.favorites-inner {
    padding: 40px;
    background: #ffffff
}

@media (max-width: 767px) {
    .favorites-inner {
        padding: 0;
        background: #f6eeee
    }
}

.favorites-inner-empty {
    width: 1030px
}

@media (max-width: 767px) {
    .favorites-inner-empty {
        width: calc(100% - 40px);
        padding: 0 20px
    }
}

.favorites-inner table {
    width: 1030px;
    color: #4F4C4C
}

.favorites-inner table th {
    text-align: left;
    padding: 10px
}

.favorites-inner table td {
    padding: 10px
}

.favorites-inner table td a {
    text-decoration: none;
    color: #4F4C4C
}

.sociomics-wide {
    display: flex;
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid #C4C4C4;
    width: 1030px
}

@media (max-width: 767px) {
    .sociomics-wide {
        width: calc(100% - 40px);
        flex-wrap: wrap;
        margin-bottom: 0;
        background: #ffffff;
        padding: 20px;
        position: relative
    }
}

.sociomics-wide:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none
}

@media (max-width: 767px) {
    .sociomics-wide:last-child {
        padding-bottom: 20px
    }
}

.sociomics-wide__left {
    width: 440px;
    margin-right: 40px
}

@media (max-width: 767px) {
    .sociomics-wide__left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px
    }
}

.sociomics-wide__left-img {
    width: 100%;
    margin-bottom: 15px;
    object-fit: cover
}

@media (max-width: 767px) {
    .sociomics-wide__left-img {
        margin-top: 30px;
        margin-bottom: 10px;
        height: 215px
    }
}

.sociomics-wide__left-bottom {
    display: flex;
    align-items: center
}

.sociomics-wide__left-views {
    color: #927575;
    font-size: 15px
}

.sociomics-wide__left-likes {
    margin-left: auto;
    display: flex;
    align-items: center
}

.sociomics-wide__left-like {
    color: #927575;
    margin-left: 15px;
    display: flex;
    align-items: center
}

.sociomics-wide__left-like:first-child {
    margin-left: 0
}

.sociomics-wide__left-like img {
    margin-right: 10px
}

.sociomics-wide__right {
    width: calc(100% - 480px);
    position: relative
}

@media (max-width: 767px) {
    .sociomics-wide__right {
        width: 100%;
        position: unset
    }
}

.sociomics-wide__right__editing {
    position: absolute;
    top: 0;
    right: 0
}

@media (max-width: 767px) {
    .sociomics-wide__right__editing {
        top: 10px;
        right: 20px
    }
}

.sociomics-wide__right__editing-menu-button {
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent
}

.sociomics-wide__right__editing-menu-button img {
    width: 30px;
    background: #ffffff
}

.sociomics-wide__right__editing__dropdown-content {
    position: absolute;
    right: 0;
    background: #ffffff;
    min-width: 210px;
    display: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)
}

.sociomics-wide__right__editing__dropdown-content-list {
    list-style: none;
    padding: 0;
    margin: 0
}

.sociomics-wide__right__editing__dropdown-content-item {
    border-bottom: 1px solid #eaeaea
}

.sociomics-wide__right__editing__dropdown-content-item:last-child {
    border-bottom: none
}

.sociomics-wide__right__editing__dropdown-content-item a {
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    color: #4f4c4c
}

.sociomics-wide__right__editing__dropdown-content-item a:hover {
    color: #ffffff;
    background: #927575
}

.sociomics-wide__right__header {
    width: 360px
}

@media (max-width: 767px) {
    .sociomics-wide__right__header {
        width: 100%
    }
}

.sociomics-wide__right__header-remove {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    color: #927575;
    font-size: 15px;
    text-decoration: none
}

@media (max-width: 767px) {
    .sociomics-wide__right__header-remove {
        top: -297px
    }
}

.sociomics-wide__right__header-remove img {
    margin-right: 10px
}

.sociomics-wide__right__header h3 {
    color: #4F4C4C;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px
}

@media (max-width: 767px) {
    .sociomics-wide__right__header h3 {
        font-weight: 400;
        font-size: 20px
    }
}

.sociomics-wide__right__header h3 a {
    color: #4F4C4C;
    text-decoration: none
}

.sociomics-wide__right__header-published {
    font-size: 11px;
    color: #927575;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #C4C4C4
}

.sociomics-wide__right__header-authors {
    display: flex;
    align-items: center;
    margin-bottom: 20px
}

@media (max-width: 767px) {
    .sociomics-wide__right__header-authors {
        justify-content: space-between;
        padding-bottom: 25px;
        border-bottom: 1px solid #C4C4C4
    }
}

@media (max-width: 767px) {
    .sociomics-wide__right__header__author {
        width: 140px
    }
}

.sociomics-wide__right__header__author:first-child {
    margin-right: 40px
}

@media (max-width: 767px) {
    .sociomics-wide__right__header__author:first-child {
        margin-right: 0
    }
}

.sociomics-wide__right__header__author-sign {
    font-size: 11px;
    color: #927575;
    margin-bottom: 5px
}

.sociomics-wide__right__header__author-inner {
    display: flex;
    align-items: center
}

.sociomics-wide__right__header__author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px
}

.sociomics-wide__right__header__author-name {
    width: 100px;
    font-size: 15px;
    color: #5E5C5C
}

@media (max-width: 767px) {
    .sociomics-wide__right__header__author-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
}

.sociomics-wide__right__desc-header {
    color: #4F4C4C;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px
}

.sociomics-wide__right__desc-text {
    font-size: 15px;
    line-height: 25px;
    color: #4F4C4C;
    margin: 0;
    padding: 0
}

.library {
    margin: 30px 0
}

@media (max-width: 767px) {
    .library {
        width: 100%;
        margin: 15px 0 0;
        padding: 0
    }
}

.library__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 30px
}

@media (max-width: 767px) {
    .library__navigation {
        width: calc(100% - 40px);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 20px 15px
    }
}

.library__navigation h1 {
    color: #4F4C4C;
    font-weight: 800;
    font-size: 25px;
    margin: 0
}

@media (max-width: 767px) {
    .library__navigation h1 {
        margin: 0 0 15px;
        padding-left: 0;
        font-size: 24px
    }
}

.library__navigation-list {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #4F4C4C
}

@media (max-width: 767px) {
    .library__navigation-list {
        display: flex;
        width: 100%;
        font-size: 11px
    }
}

.library__navigation-item {
    font-size: 20px;
    color: #4F4C4C;
    margin: 0 15px;
    padding: 5px 10px
}

@media (max-width: 767px) {
    .library__navigation-item {
        font-size: 11px;
        margin: 0 5px;
        padding: 5px
    }
}

.library__navigation-item:last-child {
    margin-right: 0
}

.library__navigation-item--active {
    background: #927575;
    color: #FFFFFF
}

.library__navigation span {
    margin-right: 30px;
    font-size: 20px
}

@media (max-width: 767px) {
    .library__navigation span {
        margin: 0;
        padding-right: 10px;
        font-size: 12px
    }
}

.library__navigation a {
    text-decoration: none
}

.library__sociomics-list {
    width: 1030px;
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    padding: 20px 10px 0 10px;
    margin-bottom: 20px
}

@media (max-width: 767px) {
    .library__sociomics-list {
        margin-bottom: 0;
        width: calc(100% - 20px)
    }
}

.library__sociomics-list-empty {
    width: 1030px;
    padding: 0 0 20px 10px
}

@media (max-width: 767px) {
    .library__sociomics-list-empty {
        width: calc(100% - 40px);
        padding: 0 0 20px 20px
    }
}

.library__sociomics-item {
    width: calc(100% / 4 - 20px);
    margin: 0 10px 20px
}

@media (max-width: 767px) {
    .library__sociomics-item {
        width: 100%;
        padding: 0
    }
}

.library__sociomics-item-card {
    display: block;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 10px
}

.library__sociomics-item-card img {
    width: 100%
}

.library__sociomics-item-description {
    display: flex;
    width: 100%
}

@media (max-width: 767px) {
    .library__sociomics-item-description {
        width: 100%
    }
}

.library__sociomics-item-description-left {
    margin-right: 10px
}

.library__sociomics-item-description-right {
    width: calc(100% - 60px)
}

.library__sociomics-item__views-block {
    display: flex;
    align-items: center
}

.library__sociomics-item-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover
}

.library__sociomics-item-title {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    color: #4F4C4C;
    margin-bottom: 5px
}

@media (max-width: 767px) {
    .library__sociomics-item-title {
        font-size: 19px
    }
}

.library__sociomics-item-author {
    font-size: 13px;
    margin-bottom: 5px;
    color: #4F4C4C
}

@media (max-width: 767px) {
    .library__sociomics-item-author {
        font-size: 14px
    }
}

.library__sociomics-item__views-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 11px;
    color: #927575
}

@media (max-width: 767px) {
    .library__sociomics-item__views-block {
        font-size: 12px
    }
}

.library__sociomics-item-point {
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #927575;
    border-radius: 50%;
    margin: 0 5px
}

@media (max-width: 767px) {
    .library__sociomics-item-point {
        margin: 1px 5px 0
    }
}

.sociomics-comments-item {
    margin-bottom: 60px
}

@media (max-width: 767px) {
    .sociomics-comments-item {
        margin-bottom: 0
    }
}

.sociomics-comments-item:last-child {
    margin-bottom: 0
}

.sociomics-comments-item__comments {
    width: 100%;
    margin: 0 auto
}

@media (max-width: 767px) {
    .sociomics-comments-item__comments {
        margin: 0 auto;
        background: #ffffff
    }
}

.sociomics-comments-item__comments__menu {
    margin-top: -30px
}

@media (max-width: 767px) {
    .sociomics-comments-item__comments__menu {
        margin-top: 0;
        padding: 20px;
        background: #ffffff;
        border-bottom: 1px solid #C4C4C4
    }
}

.sociomics-comments-item__comments__menu select {
    font-family: Montserrat;
    border: none;
    font-size: 13px;
    line-height: 16px;
    color: #927575;
    cursor: pointer
}

.sociomics-comments-item__comments__menu select:focus {
    outline: none
}

.sociomics-comments-item__comments__menu option {
    border: none;
    font-size: 13px;
    line-height: 16px;
    color: #927575
}

.sociomics-comments-item__comments__menu-previous {
    font-size: 13px;
    line-height: 16px;
    color: #927575;
    margin: 8px 5px 8px 2px;
    text-decoration: none
}

.sociomics-comments-item__comments-item {
    display: flex;
    align-items: flex-start;
    padding: 15px 0;
    border-top: 1px solid #C4C4C4
}

@media (max-width: 767px) {
    .sociomics-comments-item__comments-item {
        width: calc(100% - 40px);
        padding: 15px 20px
    }
}

.sociomics-comments-item__comments-item:first-child {
    border-top: 0
}

.sociomics-comments-item__comments-item--answer {
    padding-left: 50px;
    width: calc(100% - 50px)
}

.sociomics-comments-item__comments-item-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px
}

.sociomics-comments-item__comments-item__content {
    width: 100%
}

.sociomics-comments-item__comments-item__content-name {
    color: #927575;
    margin-bottom: 5px;
    font-size: 15px
}

.sociomics-comments-item__comments-item__content-text {
    color: #5E5C5C;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 5px
}

.sociomics-comments-item__comments-item__content__bottom {
    display: flex;
    align-items: center;
    color: #927575;
    font-size: 11px
}

.sociomics-comments-item__comments-item__content__bottom > * {
    margin-right: 10px
}

.sociomics-comments-item__comments-item__content__bottom-answer {
    color: #927575;
    text-decoration: none
}

.sociomics-comments-item__comments-item__content__bottom-likes {
    display: flex;
    margin-left: auto
}

.sociomics-comments-item__comments-item__content__bottom-likes a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 10px
}

.sociomics-comments-item__comments-item__content__bottom-likes a:first-child {
    margin-left: 0
}

.sociomics-comments-item__comments-item__content__bottom-likes a img {
    margin-right: 8px
}

.sociomics-comments-item__comments-item__content__bottom-likes a span {
    color: #927575;
    font-size: 15px
}

.sociomics-comments-item__comments form {
    width: 100%
}

@media (max-width: 767px) {
    .sociomics-comments-item__comments form {
        width: calc(100% - 40px);
        padding: 0 20px
    }
}

.comment-form-message {
    margin-bottom: 10px;
    margin-left: 50px;
    color: #5E5C5C;
    visibility: hidden
}

@media (max-width: 767px) {
    .comment-form-message {
        margin-left: 0
    }
}

.my-releases {
    margin: 30px 0
}

@media (max-width: 767px) {
    .my-releases {
        margin-bottom: 0
    }
}

.my-releases-empty {
    width: 1030px
}

@media (max-width: 767px) {
    .my-releases-empty {
        width: calc(100% - 40px);
        padding: 0 20px
    }
}

.release__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0
}

@media (max-width: 767px) {
    .release__navigation {
        margin-bottom: 10px
    }
}

.release__navigation h2 {
    color: #4F4C4C;
    margin-top: 0
}

@media (max-width: 767px) {
    .release__navigation h2 {
        margin-bottom: 0
    }
}

.release__navigation__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    margin-bottom: 30px
}

@media (max-width: 767px) {
    .release__navigation__buttons {
        width: calc(100% - 40px);
        margin: 0 20px 20px
    }
}

.release__navigation__buttons a {
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    background: #4F4C4C;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    text-decoration: none
}

@media (max-width: 767px) {
    .release__navigation__buttons a {
        font-size: 11px
    }
}

.release__navigation__buttons a:hover {
    color: #fff;
    background: #927575
}

.release__editing {
    position: relative;
    outline: none !important;
    box-sizing: inherit;
    background: #F7EEEE
}

.release__editing-menu-button {
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer
}

.release__editing-menu-button img {
    width: 30px;
    background: #F7EEEE
}

.release__editing__dropdown-content {
    position: absolute;
    right: 0;
    background: #FFFFFF;
    min-width: 202px;
    display: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)
}

.release__editing__dropdown-content-list {
    list-style: none;
    padding: 0;
    margin: 0
}

.release__editing__dropdown-content-item {
    border-bottom: 1px solid #EAEAEA
}

.release__editing__dropdown-content-item:last-child {
    border-bottom: none
}

.release__editing__dropdown-content-item a {
    transition: all 0.3s ease;
    text-decoration: none;
    display: block
}

.release__editing__dropdown-content-item a:hover {
    color: #fff;
    background: #927575
}

.release__editing__dropdown-content-title {
    display: block;
    padding: 15px 20px;
    color: #4F4C4C
}

.sociomics-create {
    margin: 30px 0
}

@media (max-width: 767px) {
    .sociomics-create {
        width: 100%;
        margin: 20px 0 0
    }
}

.sociomics-create h2 {
    color: #4F4C4C;
    font-weight: 800;
    font-size: 25px;
    margin: 0 0 20px 20px
}

@media (max-width: 767px) {
    .sociomics-create h2 {
        font-size: 24px;
        margin: 20px
    }
}

.sociomics-form {
    color: #4F4C4C;
    font-size: 18px
}

.sociomics-form--create {
    width: 720px;
    background: #ffffff;
    padding: 30px
}

@media (max-width: 767px) {
    .sociomics-form--create {
        width: calc(100% - 42px);
        padding: 20px
    }
}

.sociomics-form-row {
    display: flex;
    justify-content: space-between
}

@media (max-width: 767px) {
    .sociomics-form-row {
        flex-wrap: wrap
    }
}

.sociomics-form-col {
    width: calc(50% - 10px)
}

@media (max-width: 767px) {
    .sociomics-form-col {
        width: 100%
    }
}

.sociomics-form-group {
    width: 100%;
    margin-bottom: 20px
}

.sociomics-form-group label {
    display: inline-block;
    margin-bottom: 10px
}

.sociomics-form-group input[type='text'], .sociomics-form-group input[type='url'], .sociomics-form-group input[type='email'], .sociomics-form-group input[type='password'] {
    transition: all 0.3s ease;
    width: calc(100% - 42px);
    padding: 20px;
    font-family: Montserrat;
    font-size: 18px;
    border: 1px solid #4F4C4C;
    border-radius: 0
}

.sociomics-form-group input[type='text']:focus, .sociomics-form-group input[type='url']:focus, .sociomics-form-group input[type='email']:focus, .sociomics-form-group input[type='password']:focus {
    outline: none;
    border-radius: 0;
    border-color: #927575
}

.sociomics-form-group input[type='file'] {
    width: calc(100% - 42px);
    font-family: Montserrat;
    font-size: 18px;
    border-radius: 0;
    border: none;
    padding: 0
}

.sociomics-form-group textarea {
    width: calc(100% - 42px);
    resize: none;
    padding: 20px;
    font-family: Montserrat;
    font-size: 18px;
    border: 1px solid #4F4C4C;
    border-radius: 0
}

.sociomics-form-group textarea:focus {
    outline: none;
    border-radius: 0;
    border-color: #927575
}

.sociomics-form-group select {
    width: 100%;
    padding: 20px;
    font-family: Montserrat;
    font-size: 18px;
    border: 1px solid #4F4C4C;
    border-radius: 0
}

.sociomics-form-group select:focus {
    outline: none;
    border-radius: 0;
    border-color: #927575
}

.sociomics-form-group--checkbox {
    margin-bottom: 10px
}

.sociomics-form-group--checkbox label {
    margin-bottom: 0
}

.sociomics-form-group--img {
    display: flex;
    align-items: center;
    border: 2px dashed #999;
    padding: 10px
}

.sociomics-form-group--img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px
}

.sociomics-form-password-links {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.sociomics-form-password-links a {
    transition: all 0.3s ease;
    color: #4F4C4C;
    text-decoration: none
}

.sociomics-form-password-links a:hover {
    color: #927575
}

.sociomics-form-info-text {
    margin: 0 0 20px
}

.sociomics-form-info-text a {
    transition: all 0.3s ease;
    color: #4F4C4C;
    text-decoration: underline
}

.sociomics-form-info-text a:hover {
    text-decoration: none
}

.sociomics-form button {
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    background: #4F4C4C;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    outline: none;
    cursor: pointer
}

.sociomics-form button:hover {
    color: #fff;
    background: #927575
}

.sociomics-form-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.text-page {
    width: 800px;
    margin: 30px 0
}

@media (max-width: 1280px) {
    .text-page {
        margin: 30px auto
    }
}

@media (max-width: 767px) {
    .text-page {
        width: 100%;
        margin: 15px auto 0
    }
}

.text-page h1 {
    color: #4F4C4C;
    font-weight: 800;
    font-size: 25px;
    margin: 0 30px 30px
}

@media (max-width: 767px) {
    .text-page h1 {
        margin: 0 20px 20px
    }
}

.text-page-inner {
    padding: 30px;
    background-color: #FFFFFF
}

@media (max-width: 767px) {
    .text-page-inner {
        padding: 20px
    }
}

.text-page-inner img {
    width: 100%
}

.text-page-inner p {
    font-size: 16px;
    color: #4F4C4C;
    line-height: 26px
}

.sociomics-modal__form {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 40px;
    width: 480px
}

@media (max-width: 767px) {
    .sociomics-modal__form {
        width: calc(100% - 40px);
        padding: 20px
    }
}

.sociomics-modal__form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}

.sociomics-modal__form-header h2 {
    color: #4F4C4C;
    font-weight: 800;
    font-size: 25px;
    margin: 0
}

@media (max-width: 767px) {
    .sociomics-modal__form-header h2 {
        font-size: 24px
    }
}

.sociomics-modal__form-header a {
    font-weight: 800;
    font-size: 25px;
    text-decoration: none
}

.sociomics-modal__form-header a img {
    width: 20px;
    height: 20px
}

.sociomics-modal__form--wide {
    width: 780px
}

@media (max-width: 767px) {
    .sociomics-modal__form--wide {
        width: calc(100% - 40px)
    }
}

/*# sourceMappingURL=app.css.map */
