div.homepage__release-item
    h2 Выпуск №7 / 15.04.2020
    div.homepage__release-item__sociomics-list
        include homepage-sociomics
        include homepage-sociomics
        include homepage-sociomics
        include homepage-sociomics
        include homepage-sociomics
        include homepage-sociomics