div.homepage__release-item__sociomics-item
    a.homepage__release-item__sociomics-item-card(href='sociomics-detail.html')
        img(src='img/homepage/card.jpg')
    div.homepage__release-item__sociomics-item-description
        div.homepage__release-item__sociomics-item-description-left
            img.homepage__release-item__sociomics-item-avatar(src='img/homepage/avatar.svg')
        div.homepage__release-item__sociomics-item-description-right
            a.homepage__release-item__sociomics-item-title(href='sociomics-detail.html') Попутчик. Часть 4: Шанхай
            div.homepage__release-item__sociomics-item-author Gary Nisharg
            div.homepage__release-item__sociomics-item__views-block
                span.homepage__release-item__sociomics-item-views 85 просмотров
                span.homepage__release-item__sociomics-item-point
                span.homepage__release-item__sociomics-item-date месяц назад