div.homepage-library__sociomics-item
    a.homepage-library__sociomics-item-img(href='#')
        img(src='img/homepage/sinister.jpg')
    div.homepage-library__sociomics-item__description
        div.homepage-library__sociomics-item__description-left
            img(src='img/homepage/avatar.svg')
        div.homepage-library__sociomics-item__description-right
            a.homepage-library__sociomics-item__description-title(href='sociomics-detail.html') Попутчик. Часть 4: Шанхай
            div.homepage-library__sociomics-item__description-author Gary Nisharg
            div.homepage-library__sociomics-item__description-views-block
                span 85 просмотров
                span.homepage-library__sociomics-item__description-point
                span месяц назад