div.library__sociomics-item
    a.library__sociomics-item-card(href='#')
        img(src='img/homepage/card.jpg')
    div.library__sociomics-item-description
        div.library__sociomics-item-description-left
            img.library__sociomics-item-avatar(src='img/homepage/avatar.svg')
        div.library__sociomics-item-description-right
            a.library__sociomics-item-title(href='#') Попутчик. Часть 4: Шанхай
            div.library__sociomics-item-author Gary Nisharg
            div.library__sociomics-item__views-block
                span 85 просмотров
                span.library__sociomics-item-point
                span месяц назад