div.release__editing.js-release-editing-menu-box
                button.release__editing-menu-button.js-release-editing-menu-button
                    img(src='img/homepage/button.svg')
                div.release__editing__dropdown-content.js-release-editing-menu
                    ul.release__editing__dropdown-content-list
                        li.release__editing__dropdown-content-item
                            a.release__editing__dropdown-content-title(href='#') Редактировать
                        li.release__editing__dropdown-content-item
                            a.release__editing__dropdown-content-title(href='#') Удалить