div.sociomics-comments-item__comments-item
    img.sociomics-comments-item__comments-item-avatar(src='img/sociomics-detail/author.svg')
    div.sociomics-comments-item__comments-item__content
        div.div.sociomics-comments-item__comments-item__content-name Gary Nishang
        div.sociomics-comments-item__comments-item__content-text Смешно Ха-Ха
        div.sociomics-comments-item__comments-item__content__bottom
            div.sociomics-comments-item__comments-item__content__bottom-date Вчера в 10:27
            a.sociomics-comments-item__comments-item__content__bottom-answer(href='javascript:void(0);') Ответить
            div.sociomics-comments-item__comments-item__content__bottom-likes
                a(href='javascript:void(0);')
                    img(src='img/sociomics-detail/like.svg')
                    span 12
                a(href='javascript:void(0);')
                    img(src='img/sociomics-detail/dislike.svg')
                    span 24