div.sociomics-wide
    div.sociomics-wide__left
        img.sociomics-wide__left-img(src='img/sociomics-detail/img-1.jpg')
        div.sociomics-wide__left-bottom
            div.sociomics-wide__left-views 49 просмотров
            div.sociomics-wide__left-likes
                div.sociomics-wide__left-like
                    img(src='img/sociomics-detail/comments.svg')
                    span 12
                div.sociomics-wide__left-like
                    img(src='img/favorites/like.svg')
                    span 8
                div.sociomics-wide__left-like
                    img(src='img/favorites/dislike.svg')
                    span 0
    div.sociomics-wide__right
        div.sociomics-wide__right__header
            div.sociomics-wide__right__editing.js-sociomics-editing-menu-box
                            button.sociomics-wide__right__editing-menu-button.js-sociomics-editing-menu-button
                                img(src='img/homepage/button.svg')
                            div.sociomics-wide__right__editing__dropdown-content.js-sociomics-editing-menu
                                ul.sociomics-wide__right__editing__dropdown-content-list
                                    li.sociomics-wide__right__editing__dropdown-content-item
                                        a.sociomics-wide__right__editing__dropdown-content-title(href='#') Редактировать
                                    li.sociomics-wide__right__editing__dropdown-content-item
                                        a.sociomics-wide__right__editing__dropdown-content-title(href='#') Снять с публикации
                                    li.sociomics-wide__right__editing__dropdown-content-item
                                        a.sociomics-wide__right__editing__dropdown-content-title(href='#') Удалить
            h3 Попутчик. Часть 4: Свободу несовершеннолетним!
            div.sociomics-wide__right__header-published Опубликовано 02.03.2020
            div.sociomics-wide__right__header-authors
                div.sociomics-wide__right__header__author
                    div.sociomics-wide__right__header__author-sign Автор
                    div.sociomics-wide__right__header__author-inner
                        img(src='https://via.placeholder.com/30')
                        div.sociomics-wide__right__header__author-name Gary Nisharg and YMoon
                div.sociomics-wide__right__header__author
                    div.sociomics-wide__right__header__author-sign Художник
                    div.sociomics-wide__right__header__author-inner
                        img(src='https://via.placeholder.com/30')
                        div.sociomics-wide__right__header__author-name Gary Nisharg
        div.sociomics-wide__right__desc
            div.sociomics-wide__right__desc-header Описание
            p.sociomics-wide__right__desc-text Ви и Джей продолжают свою диалог. Наше общество, несмотря на кажущийся прогресс, на самом деле всё еще находится на уровне средневековья. И виной тому наша система воспитания детей. Нам нужно освободить детей от гнета и тогда наша цивилизация сможет совершить эволюционный скачок.