div.sociomics-detail-content__item#sociomics-detail-chapter
    div.sociomics-detail-content__item-inner
        h2 1
        div.sociomics-detail-content__item-image
            img(src="/resources/img/sociomics-detail/content.jpg", alt="")
        div.sociomics-detail-content__item-text
            p <b>Ви:</b> Знаешь, после нашей с тобой беседы, Джей, о том, что дети это рабы, я долго думал. Система воспитания детей – это ключ к развитию общества. Изменить взрослых людей практически нереально. Только единицы из них могут изменить свое мировоззрение и посмотреть на мир по-новому. А вот дети – это чистый лист бумаги, на котором можно написать все что угодно!
            p <b> Джей:</b> (говорит запыхавшись и падает в гамак) Ой… Ой, постой… Дай передышку… Устал!
            p <b>  Ви: </b>Ты устал пока шёл от двери к гамаку? (слышится в голосе сарказм и улыбка)
            p <b> Джей: </b>Ай, яй, яй… (машет указательным пальцем на Ви) Нехорошо подкалывать старого больного человека… (лёжа в гамаке смотрит на Ви, который устроился на диване, и улыбается)… Что? Что ты там говорил? Какая у нас тема? (смотрит в потолок и раскачивается в гамаке)
            p <b> Ви:</b> Мы будем говорить об альтернативном воспитании детей…