div.sociomics-detail-right-inner__recommendations-item
    a.sociomics-detail-right-inner__recommendations-item-image(href='#')
        img(src='img/sociomics-detail/cover.jpg')
    div.sociomics-detail-right-inner__recommendations-item__description
        div.sociomics-detail-right-inner__recommendations-item__description-left
            img.sociomics-detail-right-inner__recommendations-item__description-avatar(src='img/homepage/avatar.svg')
        div.sociomics-detail-right-inner__recommendations-item__description-right
            a.sociomics-detail-right-inner__recommendations-item__description-title(href='sociomics-detail.html') Попутчик. Часть 4: Шанхай
            div.sociomics-detail-right-inner__recommendations-item__description-author Gary Nisharg
            div.sociomics-detail-right-inner__recommendations-item__description__views-block
                span 85 просмотров
                span.sociomics-detail-right-inner__recommendations-item__description-point
                span месяц назад