div.sociomics-detail-right-inner__content
    div.sociomics-detail-right-inner__content-title Содержание
    ul.sociomics-detail-right-inner__content__list
        li
            a(href='#sociomics-detail-chapter') Глава 1. Попутчик Глава
        li
            a(href='#sociomics-detail-chapter') Глава 2. Свободу несовершеннолетним
        li
            a(href='#sociomics-detail-chapter') Глава 3. Выпуск
        li
            a(href='#sociomics-detail-chapter') Глава 4. Зловещие старики
        li
            a(href='#sociomics-detail-chapter') Глава 5. Попутчик
        li
            a(href='#sociomics-detail-chapter') Глава 6. Свободу несовершеннолетним
        li
            a(href='#sociomics-detail-chapter') Глава 7. Выпуск
        li
            a(href='#sociomics-detail-chapter') Глава 8. Зловещие старики