div.sociomics-detail-content__comment
    form
        img(src='img/sociomics-detail/icon.svg')
        textarea(placeholder='Написать комментарий', rows='4')
        div.sociomics-detail-content__comment__buttons
            button.sociomics-detail-content__comment__buttons-send(type='submit') Отправить