div.sociomics-detail-content__bottom__other
    h4 Другие части этого социомикса
    div.sociomics-detail-content__bottom__other-items.js-sociomics-detail-other-slider
        div
            div.sociomics-detail-content__bottom__other-item
                a.sociomics-detail-content__bottom__other-item-image(href='#')
                    img(src='img/sociomics-detail/cover.jpg')
                div.sociomics-detail-content__bottom__other-item__information
                    a.sociomics-detail-content__bottom__other-item__information-title(href='#') Зловещие старики 1
                    div.sociomics-detail-content__bottom__other-item__information-author
                        img(src='img/sociomics-detail/author.svg')
                        span Gary Nisharg
                    div.sociomics-detail-content__bottom__other-item__information-views
                        span.sociomics-detail-content__bottom__other-item__information-views-number 49 просмотров
                        span.sociomics-detail-content__bottom__other-item__information-views-point
                        span.sociomics-detail-content__bottom__other-item__information-views-date 4 месяца назад
        div
            div.sociomics-detail-content__bottom__other-item
                a.sociomics-detail-content__bottom__other-item-image(href='#')
                    img(src='img/sociomics-detail/cover.jpg')
                div.sociomics-detail-content__bottom__other-item__information
                    a.sociomics-detail-content__bottom__other-item__information-title(href='#') Зловещие старики 1
                    div.sociomics-detail-content__bottom__other-item__information-author
                        img(src='img/sociomics-detail/author.svg')
                        span Gary Nisharg
                    div.sociomics-detail-content__bottom__other-item__information-views
                        span.sociomics-detail-content__bottom__other-item__information-views-number 49 просмотров
                        span.sociomics-detail-content__bottom__other-item__information-views-point
                        span.sociomics-detail-content__bottom__other-item__information-views-date 4 месяца назад
        div
            div.sociomics-detail-content__bottom__other-item
                a.sociomics-detail-content__bottom__other-item-image(href='#')
                    img(src='img/sociomics-detail/cover.jpg')
                div.sociomics-detail-content__bottom__other-item__information
                    a.sociomics-detail-content__bottom__other-item__information-title(href='#') Зловещие старики 1
                    div.sociomics-detail-content__bottom__other-item__information-author
                        img(src='img/sociomics-detail/author.svg')
                        span Gary Nisharg
                    div.sociomics-detail-content__bottom__other-item__information-views
                        span.sociomics-detail-content__bottom__other-item__information-views-number 49 просмотров
                        span.sociomics-detail-content__bottom__other-item__information-views-point
                        span.sociomics-detail-content__bottom__other-item__information-views-date 4 месяца назад
        div
            div.sociomics-detail-content__bottom__other-item
                a.sociomics-detail-content__bottom__other-item-image(href='#')
                    img(src='img/sociomics-detail/cover.jpg')
                div.sociomics-detail-content__bottom__other-item__information
                    a.sociomics-detail-content__bottom__other-item__information-title(href='#') Зловещие старики 1
                    div.sociomics-detail-content__bottom__other-item__information-author
                        img(src='img/sociomics-detail/author.svg')
                        span Gary Nisharg
                    div.sociomics-detail-content__bottom__other-item__information-views
                        span.sociomics-detail-content__bottom__other-item__information-views-number 49 просмотров
                        span.sociomics-detail-content__bottom__other-item__information-views-point
                        span.sociomics-detail-content__bottom__other-item__information-views-date 4 месяца назад