div.sociomics-comments-item__comments__menu
    select
        option(value='Сначала интересные') Сначала интересные
        option(value='Сначала старые') Сначала старые
        option(value='Сначала новые') Сначала новые
    div.sociomics-comments-item__comments__menu-previous
        a.sociomics-comments-item__comments__menu-previous(href='#') Показать предыдущие комментарии