div.sociomics-detail-intro__left__full-version
    h4 Этот социомикс имеет полную версию
    div.sociomics-detail-intro__left__full-version__release
        a.sociomics-detail-intro__left__full-version__release-image(href='#')
            img(src='img/sociomics-detail/cover.jpg')
        div.sociomics-detail-intro__left__full-version__release__information
            a.sociomics-detail-intro__left__full-version__release__information-title(href='#') Зловещие старики 1
            div.sociomics-detail-intro__left__full-version__release__information-author
                img(src='img/sociomics-detail/author.svg')
                span Gary Nisharg
            div.sociomics-detail-intro__left__full-version__release__information-views
                span.sociomics-detail-intro__left__full-version__release__information-views-number 49 просмотров
                span.sociomics-detail-intro__left__full-version__release__information-views-point
                span.sociomics-detail-intro__left__full-version__release__information-views-date 4 месяца назад