extends layout/layout
block inner
    div.favorites
        div.favorites__nav
            h1 Комментарии
        div.favorites-inner
            div.sociomics-comments-item
                include includes/sociomics-wide
                include includes/sociomics-comment-menu
                div.sociomics-comments-item__comments
                    include includes/sociomics-comment
                    include includes/sociomics-comment
                    include includes/sociomics-comment
                    include includes/sociomics-comment-form
            div.sociomics-comments-item
                include includes/sociomics-wide
                include includes/sociomics-comment-menu
                div.sociomics-comments-item__comments
                    include includes/sociomics-comment
                    include includes/sociomics-comment
                    include includes/sociomics-comment
                    include includes/sociomics-comment-form
            div.sociomics-comments-item
                include includes/sociomics-wide
                include includes/sociomics-comment-menu
                div.sociomics-comments-item__comments
                    include includes/sociomics-comment
                    include includes/sociomics-comment
                    include includes/sociomics-comment
                    include includes/sociomics-comment-form
