extends layout/layout
block inner
    div.favorites
        div.favorites__nav
            h1 Социомиксы
            div.favorites__nav-buttons
                a(href='sociomics-form.html') Создать социомикс
        div.favorites-inner
            include includes/sociomics-wide
            include includes/sociomics-wide
            include includes/sociomics-wide
