extends layout/layout
block inner
    div.homepage
        div.homepage__release-list
            include includes/homepage-release
            include includes/homepage-release
            include includes/homepage-release
            include includes/homepage-release
            include includes/homepage-release
            include includes/homepage-release
        div.homepage-library.js-right-content
            div.homepage-library-inner.js-right-content-inner
                h3 Библиотека
                div.homepage-library-sociomics-list
                    include includes/homepage-library-sociomics
                    include includes/homepage-library-sociomics
                    include includes/homepage-library-sociomics
                    include includes/homepage-library-sociomics
                    include includes/homepage-library-sociomics
                    include includes/homepage-library-sociomics