extends layout/layout
block inner
    div.library
        div.library__navigation
            h1 Библиотека
            div.library__navigation-list
                span Сортировать по:
                a.library__navigation-item.library__navigation-item--active(href='#') просмотрам
                a.library__navigation-item(href='#') рейтингу
        div.library__sociomics-list
            include includes/library-sociomics
            include includes/library-sociomics
            include includes/library-sociomics
            include includes/library-sociomics
            include includes/library-sociomics
            include includes/library-sociomics
            include includes/library-sociomics
            include includes/library-sociomics
