extends layout/layout
block inner
    div.my-releases
        div.release__navigation__buttons
            a(href='release-form.html') Создать выпуск
        div.release__navigation
            h2 Выпуск №1
            include includes/release-editing-menu
        div.library__sociomics-list
            include includes/library-sociomics
            include includes/library-sociomics
            include includes/library-sociomics
            include includes/library-sociomics
        div.release__navigation
            h2 Выпуск №2
            include includes/release-editing-menu
        div.library__sociomics-list
            include includes/library-sociomics
            include includes/library-sociomics
            include includes/library-sociomics
            include includes/library-sociomics
        div.release__navigation
            h2 Выпуск №3
            include includes/release-editing-menu
        div.library__sociomics-list
            include includes/library-sociomics
            include includes/library-sociomics
            include includes/library-sociomics
            include includes/library-sociomics