extends layout/layout
block inner
    div.sociomics-create
        h2 Создать новый выпуск
        form.sociomics-form.sociomics-form--create(action='#')
            div.sociomics-form-row
                div.sociomics-form-col
                    div.sociomics-form-group
                        label Номер выпуска
                        input(type='text', placeholder='Номер выпуска')
                div.sociomics-form-col
                    div.sociomics-form-group
                        label Дата выпуска
                        input(type='text', placeholder='Дата выпуска')
            div.sociomics-form-row
                div.sociomics-form-col
                    div.sociomics-form-group
                        select
                            option Выберите язык
                            option EN
                            option RU

                div.sociomics-form-col
                    div.sociomics-form-group
                        div.sociomics-form-group.sociomics-form-group--checkbox
                            input(id='checkbox-publish', type='checkbox' checked)
                            label(for='checkbox-publish') Опубликовать

            div.sociomics-form-footer
                button(type='submit') Сохранить

