extends layout/layout
block inner
    div.sociomics-create
        h2 Создать социомикс
        form.sociomics-form.sociomics-form--create(action='#')
            div.sociomics-form-row
                div.sociomics-form-group
                    label Название социомикса
                    input(type='text', placeholder='Введите название социомикса')
            div.sociomics-form-row
                div.sociomics-form-col
                    div.sociomics-form-group
                        label Язык
                        select
                            option Выберите язык
                            option EN
                            option RU
                div.sociomics-form-col
                    div.sociomics-form-group
                        label Выпуск
                        select
                            option Выберите выпуск
                            option Выпуск №1
                            option Выпуск №2
            div.sociomics--form-row
                div.sociomics-form-group
                    label Послание читателям
                    textarea(placeholder='Введите послание читателям', rows='6')
            div.sociomics--form-row
                div.sociomics-form-group
                    label Описание
                    textarea(placeholder='Введите описание', rows='6')
            div.sociomics--form-row
                div.sociomics-form-group
                    label Теги
                    textarea(placeholder='Введите теги через запятую', rows='6')
            div.sociomics-form-row
                div.sociomics-form-col
                    div.sociomics-form-group
                        label Имя автора
                        input(type='text', placeholder='Имя автора')
                    div.sociomics-form-group
                        label ВК автора
                        input(type='url', placeholder='Введите ссылку на ВК автора')
                    div.sociomics-form-group
                        label Facebook автора
                        input(type='url', placeholder='Введите ссылку на Facebook автора')
                    div.sociomics-form-group
                        label Twitter автора
                        input(type='url', placeholder='Введите ссылку на Twitter автора')
                    div.sociomics-form-group
                        label E-mail автора
                        input(type='email', placeholder='Введите e-mail автора')
                div.sociomics-form-col
                    div.sociomics-form-group
                        label Имя художника
                        input(type='text', placeholder='Введите имя художника')
                    div.sociomics-form-group
                        label ВК художника
                        input(type='url', placeholder='Введите ссылку на ВК художника')
                    div.sociomics-form-group
                        label Facebook художника
                        input(type='url', placeholder='Введите ссылку на Facebook художника')
                    div.sociomics-form-group
                        label Twitter художника
                        input(type='url', placeholder='Введите ссылку на Twitter художника')
                    div.sociomics-form-group
                        label E-mail художника
                        input(type='email', placeholder='Введите e-mail художника')
            div.sociomics-form-row
                div.sociomics-form-col
                    div.sociomics-form-group
                        label Социомикс
                        input(type='file')
                div.sociomics-form-col
                    div.sociomics-form-group
                        label Автор
                        input(type='file')
            div.sociomics-form-row
                div.sociomics-form-col
                    div.sociomics-form-group.sociomics-form-group--checkbox
                        input(id='checkbox-publish', type='checkbox' checked)
                        label(for='checkbox-publish') Опубликовать
                    div.sociomics-form-group.sociomics-form-group--checkbox
                        input.sociomics-create__form-checkbox(id='checkbox-full-issue', type='checkbox' checked)
                        label(for='checkbox-full-issue') Полный выпуск
                div.sociomics-form-col
                    div.sociomics-form-group.sociomics-form-group--checkbox
                        input(id='checkbox-library', type='checkbox')
                        label(for='checkbox-library') В библиотеку
                    div.sociomics-form-group.sociomics-form-group--checkbox
                        input.sociomics-create__form-checkbox(id='checkbox-pin-library', type='checkbox')
                        label(for='checkbox-pin-library') Закреплен в библиотеке
            div.sociomics-form-footer
                button(type='submit') Сохранить

