extends layout/layout
block inner
	div.sociomics-detail
		div.sociomics-detail-inner
			div.sociomics-detail-intro
				div.sociomics-detail-intro__left
					img(src='img/sociomics-detail/img-1.jpg')
					div.sociomics-detail-intro__left__bottom
						div.sociomics-detail-intro__left__bottom-views 49 просмотров
						div.sociomics-detail-intro__left__bottom-likes
							a.sociomics-detail-intro__left__bottom-likes-like.js-animate-scroll(href='#sociomics-detail-support')
								img(src='img/sociomics-detail/comments.svg')
								span 64
							a.sociomics-detail-intro__left__bottom-likes-like(href='javascript:void(0);')
								img(src='img/sociomics-detail/like.svg')
								span 8
							a.sociomics-detail-intro__left__bottom-likes-like(href='javascript:void(0);')
								img(src='img/sociomics-detail/dislike.svg')
								span 90
					include includes/sociomics-detail-full-version
				div.sociomics-detail-intro__right
					div.sociomics-detail-intro__right__header
							a(href='')
								img(src='img/sociomics-detail/share.svg')
							a(href='')
								img(src='img/sociomics-detail/heart.svg')
					div.sociomics-detail-intro__right-title
						h1 Попутчик. Часть 4: Свободу несовершеннолетним!
						span Опубликовано 02.03.2020
					div.sociomics-detail-intro__right__makers
						div.sociomics-detail-intro__right__makers__author
							span Автор
							div.sociomics-detail-intro__right__makers__author-info
								img(src='img/sociomics-detail/author.svg')
								span Gary Nisharg and YMoon
						div.sociomics-detail-intro__right__makers__author
							span Художник
							div.sociomics-detail-intro__right__makers__author-info
								img(src='img/sociomics-detail/author.svg')
								span Gary Nisharg and YMoon
					div.sociomics-detail-intro__right__text
						div.sociomics-detail-intro__right__text__description
							div.sociomics-detail-intro__right__text__description-title Описание
							p.sociomics-detail-intro__right__text__description-text  Ви и Джей продолжают свою диалог. Наше общество, несмотря на кажущийся прогресс, на самом деле всё еще находится на уровне средневековья. И виной тому наша система воспитания детей. Нам нужно освободить детей от гнета и тогда наша цивилизация сможет совершить эволюционный скачок.
							div.sociomics-detail-intro__right__text__description-title Обращение автора
							p.sociomics-detail-intro__right__text__description-text Возможно вы еще не готовы к этому, но вашим детям это понравится...
					div.sociomics-detail-intro__right-end
						a.js-animate-scroll(href='#sociomics-detail-support') В конец
					div.sociomics-detail-intro__right-mobile
						include includes/sociomics-detail-other
						include includes/sociomics-detail-full-version
						include includes/sociomics-detail-content

			div.sociomics-detail-content
				include includes/sociomics-chapter
				include includes/sociomics-chapter
				include includes/sociomics-chapter

				div.sociomics-detail-content__bottom
					div.sociomics-detail-content-start
						a.js-animate-scroll(href='#content') В начало
					div.sociomics-detail-content-support#sociomics-detail-support
						a.js-animate-scroll(href='#support') Понравился социомикс? <br> Поддержи наш проект!
					include includes/sociomics-detail-other
					include includes/sociomics-detail-full-version
				div.sociomics-detail-content__comments-list
					include includes/sociomics-comment
					include includes/sociomics-comment
					include includes/sociomics-comment
				include includes/sociomics-comment-form
				div.sociomics-detail-content__footer#support
					h3 Поддержать проект
					p Если вам понравился этот социомикс и вы хотите поддержать наш проект, поделитесь ссылкой на этот социомикс со своими друзьями в Facebook, ВКонтакте или в любой другой социальной сети. Вы также можете сделать пожертвование для развития проекта «Социомиксы». Собранные деньги пойдут на нужды проекта, а именно:
					ul
						li на оплату хостинга;
						li на гонорары художникам и редакторам, которые помогают нам создавать новые социомиксы;
						li на заработную плату программистов и администраторов, которые поддерживают работоспособность сайта.
					iframe(src='https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9D%D0%B0%20%D0%BF%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D1%83%20%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0%20%22%D0%A1%D0%BE%D1%86%D0%B8%D0%BE%D0%BC%D0%B8%D0%BA%D1%81%22&targets-hint=&default-sum=&button-text=14&payment-type-choice=on&hint=&successURL=&quickpay=shop&account=410013952626051', width='100%', height='220', frameborder='0', 'allowtransparency'='true', 'scrolling'='none')
		div.sociomics-detail-right.js-right-content
			div.sociomics-detail-right-inner.js-right-content-inner
				include includes/sociomics-detail-content
				div.sociomics-detail-right-inner__recommendations
					div.sociomics-detail-right-inner__recommendations-title Рекомендуем
					include includes/sociomics-recommendation
					include includes/sociomics-recommendation
					include includes/sociomics-recommendation
					include includes/sociomics-recommendation
					include includes/sociomics-recommendation
					include includes/sociomics-recommendation
