extends layout/layout
block inner
    div.text-page
        h1 Пользовательское соглашение
        div.text-page-inner
            img(src='img/text-page/img.jpg')
            p Перед началом использования сайта <a href='#'> http://sociomics.net/ </a> (далее – <strong>«Сайт»</strong>) настоятельно рекомендуем Вам внимательно ознакомиться с настоящим Пользовательским соглашением (далее –<strong> «Соглашение»</strong>). Использование Сайта разрешается только при полном и неукоснительном соблюдении условий настоящего Соглашения.
            p Настоящим, Вы принимаете обязательство соблюдать Соглашение на изложенных ниже условиях. В случае, если Вы не согласны с условиями Соглашения, Вам следует прекратить использование Сайта в каких бы то ни было целях.
